@answers-link: #006CA8;
@answers-border: #CCCCCC;
.answers {
	padding-bottom: 70px;
	&__title {
		margin: 0;
		font-size: 20px;
		font-weight: @bold;
		padding: 23px 20px;
	}
	&__link {
		.symlink(@answers-link);
		font-size: 15px;
		font-weight: @bold;
	}
	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		.answers__list {
			margin-left: 20px;
			margin-top: 6px;
			.answers__item {
				// background: red;
				margin-bottom: 10px;
			}
		}
	}
	&__collapse {
		.symlink(@answers-link);
		font-size: 15px;
		display: inline-block;
		// margin-top: 5px;
		cursor: pointer;
		position: relative;
		.icon {
			position: absolute;
			top: 50%;
			transform: translateY(-40%);
			right: -15px;
		}
		&.expanded {
			.icon {
				&:extend(.icon-triangle-small-down);
			}
		}
	}
	&__item {
		.clearfix();
		border: solid 1px @answers-border;
		border-radius: 3px;
		padding: 15px 20px;
		padding-bottom: 17px;
		// margin-bottom: 10px;
		margin-top: 6px;
		position: relative;
		&:first-child {
			margin-top: 0;
		}
		.btn {
			font-size: 20px;
			text-transform: none;
			line-height: 40px;
			height: 40px;
			padding: 0 16px;
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			&:active {
				padding-top: 2px;
			}
		}
	}
	&__item-name {
		width: 23%;
		float: left;
		padding: 4px 0;
		padding-right: 20px;
	}
	&__item-info {
		float: left;
		width: 40%;
	}
	&__item-price {
		font-size: 20px;
		font-weight: @bold;
	}
	&__item-text {
		font-size: 15px;
		margin: 0;
		margin: 10px 0;
	}
	&__item-date {
		font-size: 13px;
		opacity: .6;
	}
}
