@btn-green: #89C541;
@btn-blue: #2B6DF6;
.btn {
	display: inline-block;
	font-size: 22px;
	font-weight: @black;
	color: #fff;
	text-transform: uppercase;
	border: none;
	background: #ccc;
	border-radius: 3px;
	line-height: 56px;
	height: 56px;
	&_green {
		background: @btn-green;
	}
	&_blue {
		background: @btn-blue;
	}
	&_wide {
		width: 100%;
	}
}
