.captcha {
	.clearfix();
	width: @base*36;
	&__img {
		float: left;
		width: 170px;
		height: @base*5;
		border-radius: 3px;
		border: solid 1px @input-border-color;
	}
	.input {
		float: right;
		width: 50%;
	}
}
