@error-color: #EF443B;
@error-border: 3px;
.field {
	position: relative;
	margin-bottom: @base;
	display: inline-block;
	.clearfix();
	&_wide {
		width: 100%;
	}
	&.error {
		.input {
			border: solid @error-border @error-color;
		}
	}
}
