@form-link-color: #006CA8;
@form-hover-color: #09A5FC;
.form {
	&__title {
		font-size: 32px;
		font-weight: @medium;
		margin: 0;
		margin-top: 47px;
		margin-bottom: @base*3.5;
	}
	&__row {
		.clearfix();
		margin-bottom: @base;
		&:last-child {
			margin-bottom: 0;
		}
		&_padding {
			padding-top: 12px;
			padding-bottom: 11px;
		}
	}
	&__cell {
		&_left {
			float: left;
			width: 100%/3;
			text-align: right;
			padding-right: @base*2;
		}
		&_right {
			float: right;
			width: 100%/3*2;
		}
	}
	&__label {
		font-size: 18px;
		&_v-center {
			line-height: @placeholder-height;
		}
	}
	&__description {
		font-size: 13px;
		color: #000;
		opacity: .7;
		padding: 16px @base*3;
		margin: 0;
	}
	&__link {
		.link(@form-link-color);
		&:hover {
			.link(@form-hover-color);
		}
	}
	.field {

	}
	&_registration {
		padding-bottom: @base*7.5;
		.field {
			width: @base*36;
			margin-bottom: 26px;
			&:last-of-type {
				& + .btn {
					margin-top: @base*3;
				}
			}
		}
		.btn {
			width: @base*36;
			font-weight: @bold;
		}
		.container {
			padding-left: 35px;
		}
		.form__cell_right {
			.field {
				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
	&_new-object {
		padding-bottom: 64px;
		.form__title {
			margin-top: 0;
			margin-bottom: 16px;
		}
		.field {
			width: @base*36;
			margin-bottom: 5px;
			&:last-of-type {
				& + .btn {
					margin-top: @base*3;
				}
			}
		}
		.upload-image {
			margin-bottom: 8px;
		}
		.btn {
			width: @base*36;
			font-size: 20px;
			letter-spacing: 0.6px;
			font-weight: @bold;
			margin-top: 13px;
		}
	}
	&_change-pass {

	}
}
