
		.icon {
			background-image: url('../img/sprite.png');
			display: inline-block;
			vertical-align: middle;
		}

	.icon-arrow-left {
		background-position: -692px -72px;
		width: 19px;
		height: 19px;
	}
	.icon-close-blue {
		background-position: -650px -507px;
		width: 26px;
		height: 26px;
	}
	.icon-close-blue_hover {
		background-position: -650px -481px;
		width: 26px;
		height: 26px;
	}
	.icon-close-white-big {
		background-position: -650px -318px;
		width: 31px;
		height: 31px;
	}
	.icon-close {
		background-position: -23px -650px;
		width: 23px;
		height: 23px;
	}
	.icon-close_active {
		background-position: -0px -650px;
		width: 23px;
		height: 23px;
	}
	.icon-close_hover {
		background-position: -46px -650px;
		width: 23px;
		height: 23px;
	}
	.icon-crown-circle-bg {
		background-position: -260px -130px;
		width: 130px;
		height: 130px;
	}
	.icon-crown-circle {
		background-position: -0px -260px;
		width: 130px;
		height: 130px;
	}
	.icon-crown-circle_hover {
		background-position: -130px -260px;
		width: 130px;
		height: 130px;
	}
	.icon-crown-red {
		background-position: -650px -433px;
		width: 31px;
		height: 24px;
	}
	.icon-crown {
		background-position: -650px -457px;
		width: 31px;
		height: 24px;
	}
	.icon-crown_hover {
		background-position: -650px -409px;
		width: 31px;
		height: 24px;
	}
	.icon-delete {
		background-position: -91px -650px;
		width: 22px;
		height: 22px;
	}
	.icon-edit {
		background-position: -69px -650px;
		width: 22px;
		height: 23px;
	}
	.icon-enter {
		background-position: -650px -558px;
		width: 25px;
		height: 25px;
	}
	.icon-enter_hover {
		background-position: -650px -533px;
		width: 25px;
		height: 25px;
	}
	.icon-envelope {
		background-position: -608px -609px;
		width: 24px;
		height: 20px;
	}
	.icon-eye_open {
		background-position: -520px -609px;
		width: 44px;
		height: 28px;
	}
	.icon-eye_shut {
		background-position: -564px -609px;
		width: 44px;
		height: 21px;
	}
	.icon-fb {
		background-position: -650px -84px;
		width: 42px;
		height: 42px;
	}
	.icon-fb_hover {
		background-position: -520px -567px;
		width: 42px;
		height: 42px;
	}
	.icon-hammer-circle-bg {
		background-position: -520px -0px;
		width: 130px;
		height: 130px;
	}
	.icon-hammer-circle {
		background-position: -520px -130px;
		width: 130px;
		height: 130px;
	}
	.icon-hammer-circle_hover {
		background-position: -520px -260px;
		width: 130px;
		height: 130px;
	}
	.icon-hands-circle-bg {
		background-position: -520px -390px;
		width: 130px;
		height: 130px;
	}
	.icon-hands-circle {
		background-position: -0px -520px;
		width: 130px;
		height: 130px;
	}
	.icon-hands-circle_hover {
		background-position: -130px -520px;
		width: 130px;
		height: 130px;
	}
	.icon-house-circle-bg {
		background-position: -260px -520px;
		width: 130px;
		height: 130px;
	}
	.icon-house-circle {
		background-position: -390px -520px;
		width: 130px;
		height: 130px;
	}
	.icon-house-circle_hover {
		background-position: -130px -390px;
		width: 130px;
		height: 130px;
	}
	.icon-offer-circle-bg {
		background-position: -260px -260px;
		width: 130px;
		height: 130px;
	}
	.icon-offer-circle {
		background-position: -130px -0px;
		width: 130px;
		height: 130px;
	}
	.icon-offer-circle_hover {
		background-position: -390px -390px;
		width: 130px;
		height: 130px;
	}
	.icon-ok {
		background-position: -650px -42px;
		width: 42px;
		height: 42px;
	}
	.icon-ok_hover {
		background-position: -650px -0px;
		width: 42px;
		height: 42px;
	}
	.icon-pig-circle-bg {
		background-position: -260px -390px;
		width: 130px;
		height: 130px;
	}
	.icon-pig-circle {
		background-position: -0px -0px;
		width: 130px;
		height: 130px;
	}
	.icon-pig-circle_hover {
		background-position: -0px -390px;
		width: 130px;
		height: 130px;
	}
	.icon-pin {
		background-position: -692px -24px;
		width: 20px;
		height: 24px;
	}
	.icon-plus {
		background-position: -650px -583px;
		width: 24px;
		height: 24px;
	}
	.icon-question-circle-fill {
		background-position: -650px -607px;
		width: 24px;
		height: 24px;
	}
	.icon-question-circle {
		background-position: -650px -379px;
		width: 30px;
		height: 30px;
	}
	.icon-question-circle_hover {
		background-position: -650px -349px;
		width: 30px;
		height: 30px;
	}
	.icon-shevron-left-small-black {
		background-position: -692px -157px;
		width: 16px;
		height: 22px;
	}
	.icon-shevron-left-small-white {
		background-position: -692px -135px;
		width: 16px;
		height: 22px;
	}
	.icon-shevron-left {
		background-position: -650px -270px;
		width: 31px;
		height: 48px;
	}
	.icon-shevron-left_hover {
		background-position: -650px -222px;
		width: 31px;
		height: 48px;
	}
	.icon-shevron-right-small-black {
		background-position: -692px -113px;
		width: 16px;
		height: 22px;
	}
	.icon-shevron-right-small-white {
		background-position: -692px -91px;
		width: 16px;
		height: 22px;
	}
	.icon-shevron-right-small {
		background-position: -692px -179px;
		width: 16px;
		height: 21px;
	}
	.icon-shevron-right {
		background-position: -650px -126px;
		width: 31px;
		height: 48px;
	}
	.icon-shevron-right_hover {
		background-position: -650px -174px;
		width: 31px;
		height: 48px;
	}
	.icon-shevron-upt-small-blue {
		background-position: -650px -631px;
		width: 25px;
		height: 19px;
	}
	.icon-smile-circle-bg {
		background-position: -390px -260px;
		width: 130px;
		height: 130px;
	}
	.icon-smile-circle {
		background-position: -390px -130px;
		width: 130px;
		height: 130px;
	}
	.icon-smile-circle_hover {
		background-position: -390px -0px;
		width: 130px;
		height: 130px;
	}
	.icon-tooltip-triangle {
		background-position: -520px -520px;
		width: 43px;
		height: 47px;
	}
	.icon-triangle-small-down {
		background-position: -692px -213px;
		width: 14px;
		height: 13px;
	}
	.icon-triangle-small-up {
		background-position: -692px -200px;
		width: 14px;
		height: 13px;
	}
	.icon-tw {
		background-position: -562px -567px;
		width: 42px;
		height: 42px;
	}
	.icon-tw_hover {
		background-position: -604px -567px;
		width: 42px;
		height: 42px;
	}
	.icon-user {
		background-position: -692px -0px;
		width: 20px;
		height: 24px;
	}
	.icon-user_hover {
		background-position: -692px -48px;
		width: 20px;
		height: 24px;
	}
	.icon-vasa-circle-bg {
		background-position: -260px -0px;
		width: 130px;
		height: 130px;
	}
	.icon-vasa-circle {
		background-position: -130px -130px;
		width: 130px;
		height: 130px;
	}
	.icon-vasa-circle_hover {
		background-position: -0px -130px;
		width: 130px;
		height: 130px;
	}
	.icon-vk {
		background-position: -563px -520px;
		width: 43px;
		height: 42px;
	}
	.icon-vk_hover {
		background-position: -606px -520px;
		width: 43px;
		height: 42px;
	}
