
		.icon {
			background-image: url('../img/sprite.png');
			display: inline-block;
			vertical-align: middle;
		}

	.icon-crown {
		background-position: -0px -0px;
		width: 31px;
		height: 24px;
	}
	.icon-crown_hover {
		background-position: -0px -24px;
		width: 31px;
		height: 24px;
	}
	.icon-enter {
		background-position: -0px -48px;
		width: 25px;
		height: 25px;
	}
	.icon-enter_hover {
		background-position: -0px -73px;
		width: 25px;
		height: 25px;
	}
	.icon-fb {
		background-position: -0px -98px;
		width: 42px;
		height: 42px;
	}
	.icon-ok {
		background-position: -0px -140px;
		width: 42px;
		height: 42px;
	}
	.icon-tw {
		background-position: -0px -182px;
		width: 42px;
		height: 42px;
	}
	.icon-vk {
		background-position: -0px -224px;
		width: 43px;
		height: 42px;
	}
