@link-color: #B0EBF3;
@link-hover: #DFF400;
.link(@color) {
	border-bottom: solid 1px rgba(red(@color),green(@color),blue(@color),.4);
	color: @color;
	transition: color @animation-time;
}
.symlink(@color) {
	border-bottom: dashed 1px rgba(red(@color),green(@color),blue(@color),.4);
	color: @color;
	transition: color @animation-time;
}
