@main-menu-bg-color: #3E4EB8;
@main-menu-active-color: #2F3BA2;
@main-menu-hover-color: #AAE3EF;
.main-menu {
	background: @main-menu-bg-color;
	min-width: @container-width;
	&__list {
		position: relative;
		list-style: none;
		padding: 0;
		padding: @base*1.5 0;
		padding-bottom: 10px;
		margin: 0;
		float: right;
		.clearfix();
	}
	&__item {
		float: left;
		margin-right: 44px;
		&:last-child {
			margin-right: 0;
		}
		&.active {
			.main-menu__link {
				background: @main-menu-active-color;
			}
		}
	}
	&__link {
		display: inline-block;
		padding: @base 14px;
		border-radius: 5px;
		.clearfix();
		&:hover {
			.main-menu__text {
				.link(@main-menu-hover-color);
			}
			.main-menu__count {
				opacity: .8;
			}
		}
	}
	&__text {
		font-size: 18px;
		float: left;
		transition: color @animation-time;
		.link(#fff);
	}
	&__count {
		font-size: 11px;
		color: #fff;
		opacity: .5;
		font-style: italic;
		float: left;
		clear: both;
		margin-top: @base/2;
		transition: opacity @animation-time;
	}
}
