@vip-text-color: #FFED18;
@vip-hover-color: #FF6562;
.vip {
	position: absolute;
	left: @base*2;
	top: 0;
	transform: translateY(-100%);
	padding: 0 @base/2;
	padding-left: 0;
	padding-bottom: @base/2;
	&__text {
		font-size: 18px;
		margin-left: @base/2;
		.link(@vip-text-color);
	}
	&:hover {
		.vip__text {
			.link(@vip-hover-color);
		}
		.icon {
			&:extend(.icon-crown_hover);
		}
	}
	.icon {
		margin-top: -3px;
	}
}
