<!-- Answers -->
<!-- Partial: answers -->
<div class="answers">
	<div class="container">
		<!-- Header -->
		<header class="answers__header">
			<!-- Title -->
			<h2 class="answers__title">
				Ответы на предложение
			</h2>
		</header>
		<ul class="answers__list">
			<li class="answers__item answers__item_no-margin">
				<div class="answers__item-name">
					<a href="#" class="answers__link">
						2-ой Петровско-Разумовский проезд, 100
					</a>
				</div>
				<div class="answers__item-info">
					<div class="answers__item-price">
						2 600 000 руб.
					</div>
					<p class="answers__item-text">
						Квартира в хорошем состоянии, свежий ремонт, новостройка. Продажа по причине переезда
					</p>
					<a href="mailto:user@mail.ru" class="answers__item-email">
						user@mail.ru
					</a>
					<div class="answers__item-date">
						02.07.2015, 13:00
					</div>
				</div>
				<a href="#" class="btn btn_blue">
					ТОРГ: 2 560 000 руб.
				</a>
			</li>
			<!-- Sub answers -->
			<ul class="answers__list">
				<a href="#" class="answers__link expanded">
					Свернуть переписку <i class="icon icon-triangle-small-up"></i>
				</a>
				<li class="answers__item answers__item_no-margin">
					<div class="answers__item-name">
						<a href="#" class="answers__link">
							ул. Чехова, 100
						</a>
					</div>
					<div class="answers__item-info">
						<div class="answers__item-price">
							2 400 000 руб.
						</div>
						<p class="answers__item-text">
							Можем купить за такую цену
						</p>
						<a href="mailto:user@mail.ru" class="answers__item-email">
							user@mail.ru
						</a>
						<div class="answers__item-date">
							02.07.2015, 13:25
						</div>
					</div>
				</li>
				<li class="answers__controls">
					<a href="#" class="answers__link answers__link_right">
						Ответить
					</a>
				</li>
				<ul class="answers__list">
					<li class="answers__item">
						<div class="answers__item-name">
							<a href="#" class="answers__link">
								2-ой Петровско-Разумовский проезд, 100
							</a>
						</div>
						<div class="answers__item-info">
							<div class="answers__item-price">
								2 600 000 руб.
							</div>
							<p class="answers__item-text">
								Квартира в хорошем состоянии, свежий ремонт, новостройка. Продажа по причине переезда
							</p>
							<a href="mailto:user@mail.ru" class="answers__item-email">
								user@mail.ru
							</a>
							<div class="answers__item-date">
								02.07.2015, 13:00
							</div>
							<div class="answers__item-alert">
								Переписка будет удалена через 999 дней
							</div>
						</div>
						<a href="#" class="btn btn_blue">
							ТОРГ: 2 560 000 руб.
						</a>
					</li>
				</ul>
			</ul>
			<li class="answers__item">
				<div class="answers__item-name">
					<a href="#" class="answers__link">
						2-ой Петровско-Разумовский проезд, 100
					</a>
				</div>
				<div class="answers__item-info">
					<div class="answers__item-price">
						2 600 000 руб.
					</div>
					<p class="answers__item-text">
						Квартира в хорошем состоянии, свежий ремонт, новостройка. Продажа по причине переезда
					</p>
					<a href="mailto:user@mail.ru" class="answers__item-email">
						user@mail.ru
					</a>
					<div class="answers__item-date">
						02.07.2015, 13:00
					</div>
				</div>
				<a href="#" class="btn btn_blue">
					ТОРГ: 2 560 000 руб.
				</a>
			</li>
		</ul>
	</div>
</div>
