<!-- Answers -->
<div class="answers">
	<div class="container">
		<!-- Title -->
		<h2 class="answers__title">
			Ответы на предложение
		</h2>
		<ul class="answers__list">
			<li class="answers__item">
				<div class="answers__item-name">
					<a href="#" class="answers__link">
						2-ой Петровско-Разумовский проезд, 100
					</a>
				</div>
				<div class="answers__item-info">
					<div class="answers__item-price">
						2 600 000 руб.
					</div>
					<p class="answers__item-text">
						Квартира в хорошем состоянии, свежий ремонт, новостройка. Продажа по причине переезда
					</p>
					<div class="answers__item-date">
						02.07.2015, 13:00
					</div>
				</div>
				<!-- Controls -->
				<div class="answers__item-controls">
					<a href="#" class="btn btn_blue">
						ТОРГ: 2 560 000 руб.
					</a>
				</div>
			</li>
			<!-- Sub answers -->
			<ul class="answers__list">
				<li class="answers__collapse expanded">
					Свернуть переписку <i class="icon icon-triangle-small-up"></i>
				</li>
				<li class="answers__item">
					<div class="answers__item-name">
						<a href="#" class="answers__link">
							2-ой Петровско-Разумовский проезд, 100
						</a>
					</div>
					<div class="answers__item-info">
						<div class="answers__item-price">
							2 600 000 руб.
						</div>
						<p class="answers__item-text">
							Квартира в хорошем состоянии, свежий ремонт, новостройка. Продажа по причине переезда
						</p>
						<div class="answers__item-date">
							02.07.2015, 13:00
						</div>
					</div>
					<!-- Controls -->
					<div class="answers__item-controls">
						<a href="#" class="btn btn_blue">
							ТОРГ: 2 560 000 руб.
						</a>
					</div>
				</li>
				<ul class="answers__list">
					<li class="answers__item">
						<div class="answers__item-name">
							<a href="#" class="answers__link">
								2-ой Петровско-Разумовский проезд, 100
							</a>
						</div>
						<div class="answers__item-info">
							<div class="answers__item-price">
								2 600 000 руб.
							</div>
							<p class="answers__item-text">
								Квартира в хорошем состоянии, свежий ремонт, новостройка. Продажа по причине переезда
							</p>
							<div class="answers__item-date">
								02.07.2015, 13:00
							</div>
						</div>
						<!-- Controls -->
						<div class="answers__item-controls">
							<a href="#" class="btn btn_blue">
								ТОРГ: 2 560 000 руб.
							</a>
						</div>
					</li>
				</ul>
			</ul>
			<li class="answers__item">
				<div class="answers__item-name">
					<a href="#" class="answers__link">
						2-ой Петровско-Разумовский проезд, 100
					</a>
				</div>
				<div class="answers__item-info">
					<div class="answers__item-price">
						2 600 000 руб.
					</div>
					<p class="answers__item-text">
						Квартира в хорошем состоянии, свежий ремонт, новостройка. Продажа по причине переезда
					</p>
					<div class="answers__item-date">
						02.07.2015, 13:00
					</div>
				</div>
				<!-- Controls -->
				<div class="answers__item-controls">
					<a href="#" class="btn btn_blue">
						ТОРГ: 2 560 000 руб.
					</a>
				</div>
			</li>
		</ul>
	</div>
</div>
