<!-- Auth modal -->
<div class="modal modal_auth">
	<i class="icon icon-close"></i>
	<div class="modal__container modal__container_blue">
		<!-- Title -->
		<h2 class="modal__title">
			Вход на сайт
		</h2>
		<!-- Form -->
		<div class="form">
			<form action="#">
				<div class="field">
					<input type="email" class="input input_wide" placeholder="example@gmail.com">
				</div>
				<div class="field">
					<input type="password" class="input input_wide" placeholder="Password">
				</div>
				<button class="btn btn_green btn_wide">
					Войти
				</button>
			</form>
		</div>
		<a href="#" class="modal__link">
			Забыли пароль?
		</a>
	</div>
	<div class="modal__container modal__container_registration">
		<div class="modal__text">
			Еще не с нами?
		</div>
		<a href="#" class="btn btn_blue btn_wide">
			Зарегистрироваться
		</a>
	</div>
</div>
<div class="overlay"></div>
