<!-- Breadcrumbs -->
<div class="breadcrumbs">
	<ul class="breadcrumbs__list">
		<li class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__link">
				Новостройки
			</a>
		</li>
		<li class="breadcrumbs__item">
			<a href="#" class="breadcrumbs__link">
				Предложения для ЖК «Элит»
			</a>
		</li>
	</ul>
</div>
