<!-- Building info user kabinet -->
<div class="building building_user-kabinet">
	<div class="building__container">
		<!-- Back -->
		<a href="#" class="building__back">
			<i class="icon icon-arrow-left"></i>
			Вернуться к предложениям
		</a>
		<table class="building__info building__info_offer">
			<tbody>
				<tr>
					<td class="building__info-key">
						Цена предложения:
					</td>
					<td class="building__info-value">
						<strong>
							2 300 000 руб.
						</strong>
					</td>
				</tr>
				<tr>
					<td class="building__info-key">
						Объект недвижемости:
					</td>
					<td class="building__info-value">
						ЖК «Элит»
					</td>
				</tr>
				<tr>
					<td class="building__info-key">
						Недвижимость:
					</td>
					<td class="building__info-value">
						2км. квартира
					</td>
				</tr>
				<tr>
					<td class="building__info-key">
						Адрес:
					</td>
					<td class="building__info-value">
						Некрасовский переулок, 7
					</td>
				</tr>
				<tr>
					<td class="building__info-key">
						Описание:
					</td>
					<td class="building__info-value">
						Куплю двухкомнатную квартиру в этом доме. Предпочтительно не первый и не последний этаж. Ремонт в стиле девяностых не предлагать.
						<div class="map" id="buildingMap1"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Footer -->
	<footer class="building__footer">
		<div class="building__footer-inner">
			<div class="building__footer-column">
				<div class="building__footer-row">
					<div class="building__footer-key">
						Дата создания:
					</div>
					<div class="building__footer-value">
						30.06.2015, 12:17
					</div>
				</div>
				<div class="building__footer-row">
					<div class="building__footer-key">
						Дата редактирования:
					</div>
					<div class="building__footer-value">
						30.06.2015, 16:43
					</div>
				</div>
			</div>
			<div class="building__footer-column">
				<a href="#" class="transparent-btn">
					<span class="transparent-btn__text">
						Удалить объявление
					</span>
				</a>
				<a href="#" class="transparent-btn">
					<span class="transparent-btn__text">
						Редактировать
					</span>
				</a>
			</div>
		</div>
	</footer>
</div>
