<!-- Building info -->
<div class="building">
	<h2 class="building__title">
		Информация об объекте ЖК «Элит»
	</h2>
	<div class="building__container">
		<div class="building__column">
			<table class="building__info">
				<tbody>
					<tr>
						<td class="building__info-key">
							Застройщик:
						</td>
						<td class="building__info-value">
							<a href="#" class="building__link">
								Tekta Group
							</a>
						</td>
					</tr>
					<tr>
						<td class="building__info-key">
							Адрес:
						</td>
						<td class="building__info-value">
							ул. Чехова, 100
						</td>
					</tr>
					<tr>
						<td class="building__info-key">
							E-mail:
						</td>
						<td class="building__info-value">
							<a href="mailto:tekta@mail.ru" class="building__link">
								tekta@mail.ru
							</a>
						</td>
					</tr>
					<tr>
						<td class="building__info-key">
							Описание:
						</td>
						<td class="building__info-value">
							Новый жилой комплекс «Элит» (застройщик «Тekta Group») находится в экологически чистом районе. ЖК представляет собой трехсекционный монолитно-кирпичный жилой дом высотой 9 этажей. Территория комплекса огорожена, во дворе есть автостоянка и детская площадка.
						</td>
					</tr>
					<tr>
						<td class="building__info-key">
							Этажность:
						</td>
						<td class="building__info-value">
							15
						</td>
					</tr>
					<tr>
						<td class="building__info-key">
							Цена:
						</td>
						<td class="building__info-value">
							<strong>
								от 2 000 000 руб. до 10 000 000 руб.
							</strong>
						</td>
					</tr>
					<tr>
						<td class="building__info-key">
							Площадь:
						</td>
						<td class="building__info-value">
							от 50 м<sup>2</sup> до 150 м<sup>2</sup>
						</td>
					</tr>
					<tr>
						<td class="building__info-key">
							Материал:
						</td>
						<td class="building__info-value">
							кирпич
						</td>
					</tr>
					<tr>
						<td class="building__info-key">
							Сроки сдачи:
						</td>
						<td class="building__info-value">
							2017
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="building__column">
			<img src="img/building1.jpg" alt="" class="building__img">
			<div class="map" id="buildingMap1"></div>
		</div>
	</div>
</div>
