<!-- Cluster map info -->
<div class="modal modal_wide modal_shadow modal_cluster-info">
	<header class="modal__header">
		<!-- Close btn -->
		<a href="#" class="modal__close">
			<i class="icon icon-close-white-big"></i>
		</a>
		<!-- Title -->
		<h2 class="modal__title">
			Район Промышленный
		</h2>
	</header>
	<div class="modal__container modal__container_white">
		<div class="cluster-info">
			<h3 class="cluster-info__title">
				Информация о недвижимости
			</h3>
			<div class="cluster-info__container">
				<div class="cluster-info__column">
					<p class="cluster-info__text">
						Промышленный район — административный район города Оренбурга, входящий в состав Северного округа. Площадь района 29 км². Образован в 1965 году. Располагается<br>
						в западной части города и граничит на востоке с Дзержинским районом, на юге и юго-востоке с Центральным районом. Включает в себя микрорайоны Маяк и Подмаячный.
					</p>
					<p class="cluster-info__text">
						Промышленный район был основан в 1965 году. В начале<br>
						30-х годов XX века здесь было построено несколько кварталов. Застройка велась хаотично, поэтому, сегодня, улицы имеют непонятные изгибы. Постройки были невзрачными<br>
						и напоминали землянки.
					</p>
				</div>
				<div class="cluster-info__column">
					<div class="map" id="cluster"></div>
				</div>
			</div>
			<div class="cluster-info__container">
				<!-- Cluster categories -->
				<div class="cluster-categories">
					<h2 class="cluster-categories__title">
						Квартиры
					</h2>
					<ul class="cluster-categories__list">
						<li class="cluster-categories__item">
							<a href="#" class="cluster-categories__link">
								Комната <span class="cluster-categories__counter">(59)</span>
							</a>
						</li>
						<li class="cluster-categories__item">
							<a href="#" class="cluster-categories__link">
								Студия <span class="cluster-categories__counter">(35)</span>
							</a>
						</li>
						<li class="cluster-categories__item">
							<a href="#" class="cluster-categories__link">
								1 комнатные <span class="cluster-categories__counter">(18)</span>
							</a>
						</li>
						<li class="cluster-categories__item">
							<a href="#" class="cluster-categories__link">
								2 комнатные <span class="cluster-categories__counter">(19)</span>
							</a>
						</li>
						<li class="cluster-categories__item">
							<a href="#" class="cluster-categories__link">
								3 комнатные <span class="cluster-categories__counter">(15)</span>
							</a>
						</li>
						<li class="cluster-categories__item">
							<a href="#" class="cluster-categories__link">
								4+ комнатные <span class="cluster-categories__counter">(9)</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- Cluster categories -->
				<div class="cluster-categories">
					<h2 class="cluster-categories__title">
						Дома и коттеджи
					</h2>
					<ul class="cluster-categories__list">
						<li class="cluster-categories__item">
							<a href="#" class="cluster-categories__link">
								Дом <span class="cluster-categories__counter">(35)</span>
							</a>
						</li>
						<li class="cluster-categories__item">
							<a href="#" class="cluster-categories__link">
								Часть дома <span class="cluster-categories__counter">(4)</span>
							</a>
						</li>
						<li class="cluster-categories__item">
							<a href="#" class="cluster-categories__link">
								Таунхаус <span class="cluster-categories__counter">(9)</span>
							</a>
						</li>
						<li class="cluster-categories__item">
							<a href="#" class="cluster-categories__link">
								Участок <span class="cluster-categories__counter">(10)</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- Cluster categories -->
				<div class="cluster-categories">
					<h2 class="cluster-categories__title">
						Коммерческая недвижимость
					</h2>
					<ul class="cluster-categories__list">
						<li class="cluster-categories__item">
							<a href="#" class="cluster-categories__link">
								Офис <span class="cluster-categories__counter">(3)</span>
							</a>
						</li>
						<li class="cluster-categories__item">
							<a href="#" class="cluster-categories__link">
								Торговое помещение <span class="cluster-categories__counter">(19)</span>
							</a>
						</li>
						<li class="cluster-categories__item">
							<a href="#" class="cluster-categories__link">
								Склад <span class="cluster-categories__counter">(13)</span>
							</a>
						</li>
						<li class="cluster-categories__item">
							<a href="#" class="cluster-categories__link">
								Площадь под размещение производства <span class="cluster-categories__counter">(5)</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- Cluster categories -->
				<div class="cluster-categories">
					<h2 class="cluster-categories__title">
						Иное
					</h2>
					<ul class="cluster-categories__list">
						<li class="cluster-categories__item">
							<a href="#" class="cluster-categories__link">
								Гараж <span class="cluster-categories__counter">(9)</span>
							</a>
						</li>
						<li class="cluster-categories__item">
							<a href="#" class="cluster-categories__link">
								Парковка <span class="cluster-categories__counter">(22)</span>
							</a>
						</li>
						<li class="cluster-categories__item">
							<a href="#" class="cluster-categories__link">
								Кладовка <span class="cluster-categories__counter">(4)</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="overlay overlay_absolute"></div>
