<div class="new-buildings">
	<!-- Map -->
	<div class="map" id="clustersMap"></div>
	<div class="container">
		<div class="new-buildings__controlls">
			<!-- Open info -->
			<a href="#" class="new-buildings__link">
				<i class="icon icon-question-circle"></i>
				Как работать с картой
			</a>
		</div>
		<!-- Info -->
		<div class="new-buildings__info">
			<h2 class="new-buildings__info-title">
				Инструкция по работе с картой
			</h2>
			<p class="new-buildings__info-text">
				С целью удобства работы на сайте посетителю сайта рекомендуется зарегистрироваться. На этапе регистрации пользователю необходимо указать основные сведения о себе, в том числе и роль на сайте (покупатель, продавец, строительная компания или риелтор), которая и определит возможности пользователя на сайте.
			</p>
			<p class="new-buildings__info-text">
				Результатом успешности заполнения формы будет являться письмо со ссылкой для подтверждения регистрации. После подтверждения полученной ссылки пользователю предоставляются основные функции для работы с системой, соответствующие выбранной роли. Следующим шагом работы с системой является знакомство с предложениями рынка недвижимости, для этого предназначены основные разделы сайта.
			</p>
		</div>
	</div>
</div>
