<!-- User offers list -->
<!-- Partial: user-offers-list -->
<div class="offers-list offers-list_company-kabinet">
	<!-- Controls -->
	<div class="offers-list__controls">
		<a href="#" class="btn btn_green">
			Новый объект
		</a>
		<a href="#" class="offers-list__link">
			<i class="icon icon-question-circle-fill"></i>
			Помощь
		</a>
	</div>
	<div class="offers-list__container">
		<!-- Header -->
		<header class="offers-list__header">
			<div class="offers-list__header-text">
				Мои объекты
			</div>
			<!-- Counter -->
			<div class="offers-list__counter">
				+2
			</div>
			<!-- Messages counter -->
			<div class="offers-list__messages offers-list__messages_no-border">
				<i class="icon icon-envelope"></i>
				<span class="offers-list__messages-counter">
					+3
				</span>
			</div>
		</header>
		<!-- Subheader -->
		<div class="offers-list__sub-header">
			<h3 class="offers-list__sub-header-title">
				Жилой комплекс «Элит»
			</h3>
			<!-- Sub header controls -->
			<div class="offers-list__sub-header-controls">
				<a href="#" class="offers-list__symlink">
					Редактировать
				</a>
				<a href="#" class="offers-list__symlink">
					Удалить
				</a>
				<a href="#" class="offers-list__shevron">
					<i class="icon icon-shevron-up-small-blue"></i>
				</a>
			</div>
		</div>
		<!-- Content -->
		<table class="offers-list__inner">
			<tbody>
				<tr class="js-clickable" data-url="vasa_15kabinet_user_buyitem.html">
					<td class="offers-list__name">
						<div class="offers-list__text">
							Куплю 3км. квартиру
						</div>
					</td>
					<td class="offers-list__info">
						<!-- Messages counter -->
						<div class="offers-list__messages">
							<i class="icon icon-envelope"></i>
							<span class="offers-list__messages-counter">
								+3
							</span>
						</div>
					</td>
					<td class="offers-list__map">
						<a href="#" class="offers-list__link">
							<i class="icon icon-pin"></i>
							На карте
						</a>
					</td>
					<td class="offers-list__status">
						<i class="icon icon-crown-red"></i>
						<span class="offers-list__status-text">VIP</span>
					</td>
					<td class="offers-list__date">
						15.03.2015
					</td>
					<td class="offers-list__price">
						2 000 000 руб.
					</td>
					<td class="offers-list__bargain">
						<a href="#" class="offers-list__bargain-btn">
							ТОРГ: 1 990 000 руб.
						</a>
					</td>
				</tr>
				<tr class="js-clickable" data-url="vasa_15kabinet_user_buyitem.html">
					<td class="offers-list__name">
						<div class="offers-list__text">
							Куплю 2км. квартиру
						</div>
					</td>
					<td class="offers-list__info"></td>
					<td class="offers-list__map">
						<a href="#" class="offers-list__link">
							<i class="icon icon-pin"></i>
							На карте
						</a>
					</td>
					<td class="offers-list__status"></td>
					<td class="offers-list__date">
						28.02.2015
					</td>
					<td class="offers-list__price">
						2 000 000 руб.
					</td>
					<td class="offers-list__bargain">
						<a href="#" class="offers-list__bargain-btn">
							ТОРГ: 1 850 000 руб.
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- Footer -->
		<footer class="offers-list__footer">
			<!-- More -->
			<a href="#" class="offers-list__symlink">
				Все предложения
			</a>
		</footer>
		<!-- Subheader -->
		<div class="offers-list__sub-header">
			<h3 class="offers-list__sub-header-title">
				Жилой комплекс «Элит»
			</h3>
			<!-- Sub header controls -->
			<div class="offers-list__sub-header-controls">
				<a href="#" class="offers-list__symlink">
					Редактировать
				</a>
				<a href="#" class="offers-list__symlink">
					Удалить
				</a>
				<a href="#" class="offers-list__shevron">
					<i class="icon icon-shevron-up-small-blue"></i>
				</a>
			</div>
		</div>
		<!-- Content -->
		<table class="offers-list__inner">
			<tbody>
				<tr class="js-clickable" data-url="vasa_15kabinet_user_buyitem.html">
					<td class="offers-list__name">
						<div class="offers-list__text">
							Куплю 3км. квартиру
						</div>
					</td>
					<td class="offers-list__info">
						<!-- Messages counter -->
						<div class="offers-list__messages">
							<i class="icon icon-envelope"></i>
							<span class="offers-list__messages-counter">
								+3
							</span>
						</div>
					</td>
					<td class="offers-list__map">
						<a href="#" class="offers-list__link">
							<i class="icon icon-pin"></i>
							На карте
						</a>
					</td>
					<td class="offers-list__status">
						<i class="icon icon-crown-red"></i>
						<span class="offers-list__status-text">VIP</span>
					</td>
					<td class="offers-list__date">
						15.03.2015
					</td>
					<td class="offers-list__price">
						2 000 000 руб.
					</td>
					<td class="offers-list__bargain">
						<a href="#" class="offers-list__bargain-btn">
							ТОРГ: 1 990 000 руб.
						</a>
					</td>
				</tr>
				<tr class="js-clickable" data-url="vasa_15kabinet_user_buyitem.html">
					<td class="offers-list__name">
						<div class="offers-list__text">
							Куплю 2км. квартиру
						</div>
					</td>
					<td class="offers-list__info"></td>
					<td class="offers-list__map">
						<a href="#" class="offers-list__link">
							<i class="icon icon-pin"></i>
							На карте
						</a>
					</td>
					<td class="offers-list__status"></td>
					<td class="offers-list__date">
						28.02.2015
					</td>
					<td class="offers-list__price">
						2 000 000 руб.
					</td>
					<td class="offers-list__bargain">
						<a href="#" class="offers-list__bargain-btn">
							ТОРГ: 1 850 000 руб.
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- Footer -->
		<footer class="offers-list__footer">
			<!-- More -->
			<a href="#" class="offers-list__symlink">
				Все предложения
			</a>
		</footer>
	</div>
	<div class="offers-list__container">
		<!-- Header -->
		<header class="offers-list__header">
			<div class="offers-list__header-text">
				Другие компании
			</div>
		</header>
		<!-- Subheader -->
		<div class="offers-list__sub-header">
			<h3 class="offers-list__sub-header-title">
				Жилой комплекс «Элит»
			</h3>
			<!-- Sub header controls -->
			<div class="offers-list__sub-header-controls">
				<a href="#" class="offers-list__symlink">
					Редактировать
				</a>
				<a href="#" class="offers-list__symlink">
					Удалить
				</a>
				<a href="#" class="offers-list__shevron">
					<i class="icon icon-shevron-up-small-blue"></i>
				</a>
			</div>
		</div>
		<!-- Content -->
		<table class="offers-list__inner">
			<tbody>
				<tr class="js-clickable" data-url="vasa_15kabinet_user_buyitem.html">
					<td class="offers-list__name">
						<div class="offers-list__text">
							Куплю 3км. квартиру
						</div>
					</td>
					<td class="offers-list__info">
						<!-- Messages counter -->
						<div class="offers-list__messages">
							<i class="icon icon-envelope"></i>
							<span class="offers-list__messages-counter">
								+3
							</span>
						</div>
					</td>
					<td class="offers-list__map">
						<a href="#" class="offers-list__link">
							<i class="icon icon-pin"></i>
							На карте
						</a>
					</td>
					<td class="offers-list__status">
						<i class="icon icon-crown-red"></i>
						<span class="offers-list__status-text">VIP</span>
					</td>
					<td class="offers-list__date">
						15.03.2015
					</td>
					<td class="offers-list__price">
						2 000 000 руб.
					</td>
					<td class="offers-list__bargain">
						<a href="#" class="offers-list__bargain-btn">
							ТОРГ: 1 990 000 руб.
						</a>
					</td>
				</tr>
				<tr class="js-clickable" data-url="vasa_15kabinet_user_buyitem.html">
					<td class="offers-list__name">
						<div class="offers-list__text">
							Куплю 2км. квартиру
						</div>
					</td>
					<td class="offers-list__info"></td>
					<td class="offers-list__map">
						<a href="#" class="offers-list__link">
							<i class="icon icon-pin"></i>
							На карте
						</a>
					</td>
					<td class="offers-list__status"></td>
					<td class="offers-list__date">
						28.02.2015
					</td>
					<td class="offers-list__price">
						2 000 000 руб.
					</td>
					<td class="offers-list__bargain">
						<a href="#" class="offers-list__bargain-btn">
							ТОРГ: 1 850 000 руб.
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- Footer -->
		<footer class="offers-list__footer">
			<!-- More -->
			<a href="#" class="offers-list__symlink">
				Все предложения
			</a>
		</footer>
	</div>
</div>
