<!-- Copyright -->
<div class="copyright">
	<ul class="copyright__list">
		<li class="copyright__item">
			<div class="copyright__text">
				&copy; 2015 vas-A
			</div>
		</li>
		<li class="copyright__item">
			<div class="copyright__text">
				Разработано в <a href="#" class="copyright__link link">Softline</a>
			</div>
		</li>
	</ul>
</div>
