<!-- Copyright -->
<div class="copyright">
	<ul class="copyright__list">
		<li class="copyright__item">
			<div class="copyright__text">
				&copy;&nbsp;2015&nbsp;vas-A
			</div>
		</li>
		<li class="copyright__item">
			<div class="copyright__text">
				Разработано в <a href="#" class="copyright__link">Softline</a>
			</div>
		</li>
	</ul>
</div>
