<!-- Disqus modal -->
<!-- Partial: disqus-modal -->
<div class="modal modal_wide modal_shadow modal_notification">
	<header class="modal__header">
		<!-- Close btn -->
		<a href="#" class="modal__close">
			<i class="icon icon-close-white-big"></i>
		</a>
		<!-- Title -->
		<h2 class="modal__title">
			Уведомление
		</h2>
	</header>
	<div class="modal__container modal__container_white">
		<!-- Text -->
		<p class="modal__text">
			Вы хотите продолжить обсуждение по данному <br>
			предложению?
		</p>
		<p class="modal__text">
			При нажатии на «Продолжить» ваша переписка останется на сайте. Однако, если в течение 7 дней не будет проявлена автивность в переписке с данным продавцом, <br>
			она будет удалена. <br>
			При нажатии на «Закрыть» переписка с данным продавцом будет удалена
		</p>
		<!-- Buttons set -->
		<div class="btn-set">
			<a href="#" class="btn btn_green">
				Продолжить
			</a>
			<a href="#" class="btn btn_transparent">
				Закрыть
			</a>
		</div>
	</div>
</div>
<div class="overlay overlay_absolute"></div>
