<!-- Features modal -->
<!-- Partial: features-modal -->
<div class="modal modal_features">
	<!-- Close btn -->
	<a href="#" class="modal__close">
		<i class="icon icon-close-blue"></i>
	</a>
	<div class="modal__container">
		<!-- Slider -->
		<div class="slider">
			<div class="slider__inner">
				<a href="#" class="slider__btn slider__btn_prev js-sliderPrev">
					<i class="icon icon-shevron-left"></i>
				</a>
				<a href="#" class="slider__btn slider__btn_next js-sliderNext">
					<i class="icon icon-shevron-right"></i>
				</a>
				<ul class="slider__list js-slider">
					<li class="slider__item">
						<i class="icon icon-vasa-circle-bg"></i>
						<h2 class="slider__item-title">
							vas-A &horbar; сайт для покупателей
						</h2>
						<p class="slider__item-text">
							Cпециадизация сайта &horbar; покупатели, то есть люди, распологающие денежными средствами. Все услуги и сервисы этого сайта для покупателя абсолютно бесплатны.
						</p>
					</li>
					<li class="slider__item">
						<i class="icon icon-hammer-circle-bg"></i>
						<h2 class="slider__item-title">
							Торг уместен
						</h2>
						<p class="slider__item-text">
							Сайт в режиме реального времени организует между покупателем и продавцом переговорный процесс и торг. Программой сайта это общение будет защищено от включения в него посторонних посетителей.
						</p>
					</li>
					<li class="slider__item">
						<i class="icon icon-hands-circle-bg"></i>
						<h2 class="slider__item-title">
							Прямой диалог и безопасные сделки
						</h2>
						<p class="slider__item-text">
							Общение на сайте между покупателем и продавцом, до достижения между ними договоренности, будет происходить анонимно, что важно с точки зрения безопасности.
						</p>
						<p class="slider__item-text">
							Это позволит обеим сторонам вести переговоры абсолютно спокойно. И только после договоренности, участники этого переговорного процесса обменяются контактными данными, которые для остальных посетителей сайта будут недоступны.

						</p>
					</li>
					<li class="slider__item">
						<i class="icon icon-pig-circle-bg"></i>
						<h2 class="slider__item-title">
							Экономия при покупке
						</h2>
						<p class="slider__item-text">
							Опубликовав свое предложение на сайте, покупатель может рассчитывать на множество предложений от продавцов. Программа сайта позволяет скрыть переписку. Но если покупатель сохранит свою переписку на сайте с продавцами открытой (что можно будет сделать абсолютно спокойно, потому что переписка будет анонимной), покупатель сможет устроить соревнование между продавцами за свои деньги, когда каждый продавец для того, чтобы заинтересовать покупателя именно его предложением, а не предложением конкурентов, будет либо снижать цену, либо предлагать какие-либо еще дополнительные бонусы.
						</p>
						<p class="slider__item-text">
							В итоге покупатель сможет сэкономить десятки, или даже сотни тысяч рублей. Кроме того, не нужно будет платить риэлторам за их услуги (от 1 до 3 %) от суммы сделки. Оставив свое предложение на сайте и получив на него множество предложений продавцов, покупатель, поторговавшись, выберет лучшее предложение. Останется только зарегистрировать сделку в управлении юстиции, подключив для этого, если необходимо, любую юридическую контору. И это будет значительно дешевле, чем пользоваться услугами риэлторов. Покупатель сам становится риэлтором, не прикладывая для этого никаких усилий.
						</p>
					</li>
					<li class="slider__item">
						<i class="icon icon-smile-circle-bg"></i>
						<h2 class="slider__item-title">
							Реальные покупатели
						</h2>
						<p class="slider__item-text">
							Опубликовав свое предложение на сайте, покупатель может рассчитывать на множество предложений от продавцов. Программа сайта позволяет скрыть переписку. Но если покупатель сохранит свою переписку на сайте с продавцами открытой (что можно будет сделать абсолютно спокойно, потому что переписка будет анонимной), покупатель сможет устроить соревнование между продавцами за свои деньги, когда каждый продавец для того, чтобы заинтересовать покупателя именно его предложением, а не предложением конкурентов, будет либо снижать цену, либо предлагать какие-либо еще дополнительные бонусы.
						</p>
					</li>
					<li class="slider__item">
						<i class="icon icon-offer-circle-bg"></i>
						<h2 class="slider__item-title">
							Актуальные предложения
						</h2>
						<p class="slider__item-text">
							Cпециадизация сайта &horbar; покупатели, то есть люди, распологающие денежными средствами. Все услуги и сервисы этого сайта для покупателя абсолютно бесплатны.
						</p>
					</li>
					<li class="slider__item">
						<i class="icon icon-house-circle-bg"></i>
						<h2 class="slider__item-title">
							Работа с новостройками
						</h2>
						<p class="slider__item-text">
							Общение на сайте между покупателем и продавцом, до достижения между ними договоренности, будет происходить анонимно, что важно с точки зрения безопасности.
						</p>
						<p class="slider__item-text">
							Это позволит обеим сторонам вести переговоры абсолютно спокойно. И только после договоренности, участники этого переговорного процесса обменяются контактными данными, которые для остальных посетителей сайта будут недоступны.

						</p>
					</li>
					<li class="slider__item">
						<i class="icon icon-crown-circle-bg"></i>
						<h2 class="slider__item-title">
							VIP-клиенты
						</h2>
						<p class="slider__item-text">
							Общение на сайте между покупателем и продавцом, до достижения между ними договоренности, будет происходить анонимно, что важно с точки зрения безопасности.
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="overlay overlay_features"></div>
