<!-- Features -->
<!-- Partial: features -->
<div class="features">
	<div class="container">
		<h2 class="features__title">
			Преимущества работы с сайтом
		</h2>
		<ul class="features__list">
			<!-- TODO Кликабельно? -->
			<li class="features__item">
				<a href="vasa_01index_00_modal_slider.html" class="features__link">
					<i class="icon icon-vasa-circle"></i>
					<div class="features__container">
						<h3 class="features__item-title">
							vas-A
						</h3>
						<p class="features__item-text">
							Это сайт для покупателей
						</p>
					</div>
				</a>
			</li>
			<li class="features__item">
				<a href="vasa_01index_00_modal_slider.html" class="features__link">
					<i class="icon icon-hammer-circle"></i>
					<div class="features__container">
						<h3 class="features__item-title">
							Торг уместен
						</h3>
						<p class="features__item-text">
							Устройте торги с продавцом в режиме реального времени
						</p>
					</div>
				</a>
			</li>
			<li class="features__item">
				<a href="vasa_01index_00_modal_slider.html" class="features__link">
					<i class="icon icon-hands-circle"></i>
					<div class="features__container">
						<h3 class="features__item-title">
							Безопасные сделки
						</h3>
						<p class="features__item-text">
							Договоритесь о выгодной сделке без третьих лиц
						</p>
					</div>
				</a>
			</li>
			<li class="features__item">
				<a href="vasa_01index_00_modal_slider.html" class="features__link">
					<i class="icon icon-pig-circle"></i>
					<div class="features__container">
						<h3 class="features__item-title">
							Экономия при покупке
						</h3>
						<p class="features__item-text">
							Значительно дешевле, чем услуги риэторов
						</p>
					</div>
				</a>
			</li>
			<li class="features__item">
				<a href="vasa_01index_00_modal_slider.html" class="features__link">
					<i class="icon icon-smile-circle"></i>
					<div class="features__container">
						<h3 class="features__item-title">
							Реальные покупатели
						</h3>
						<p class="features__item-text">
							Продавцам, риэлторам, застройщикам не придется искать покупателей
						</p>
					</div>
				</a>
			</li>
			<li class="features__item">
				<a href="vasa_01index_00_modal_slider.html" class="features__link">
					<i class="icon icon-offer-circle"></i>
					<div class="features__container">
						<h3 class="features__item-title">
							Актуальные предложения
						</h3>
						<p class="features__item-text">
							На сайте опубликованы только рабочие предложения
						</p>
					</div>
				</a>
			</li>
			<li class="features__item">
				<a href="vasa_01index_00_modal_slider.html" class="features__link">
					<i class="icon icon-house-circle"></i>
					<div class="features__container">
						<h3 class="features__item-title">
							Работа с новостройками
						</h3>
						<p class="features__item-text">
							Диалоги о купли-продажи между покупателем и застройщиком
						</p>
					</div>
				</a>
			</li>
			<li class="features__item">
				<a href="vasa_01index_00_modal_slider.html" class="features__link">
					<i class="icon icon-crown-circle"></i>
					<div class="features__container">
						<h3 class="features__item-title">
							VIP-клиенты
						</h3>
						<p class="features__item-text">
							Выгодные условия работы с предложениями для VIP-клиентов
						</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
