<!-- Partial: feedback -->
<div class="feedback">
	<div class="form form_feedback">
		<form action="vasa_04registration_success.html">
			<div class="container">
				<!-- Title -->
				<div class="form__row">
					<div class="form__cell form__cell_right">
						<h2 class="form__title">
							Обратная связь
						</h2>
					</div>
				</div>
				<!-- Name row -->
				<div class="form__row">
					<div class="form__cell form__cell_left">
						<label for="name" class="form__label form__label_v-center">
							Ваше имя:
						</label>
					</div>
					<div class="form__cell form__cell_right">
						<div class="field">
							<input type="text" id="name" class="input input_border input_wide" placeholder="">
						</div>
					</div>
				</div>
				<!-- Email row -->
				<div class="form__row">
					<div class="form__cell form__cell_left">
						<label for="email" class="form__label form__label_v-center">
							Электронная почта:
						</label>
					</div>
					<div class="form__cell form__cell_right">
						<div class="field">
							<input type="email" id="email" class="input input_border input_wide" placeholder="name@email.com">
						</div>
					</div>
				</div>
				<!-- Name row -->
				<div class="form__row">
					<div class="form__cell form__cell_left">
						<label for="theme" class="form__label form__label_v-center">
							Тема:
						</label>
					</div>
					<div class="form__cell form__cell_right">
						<div class="field">
							<input type="text" id="theme" class="input input_border input_wide" placeholder="">
						</div>
					</div>
				</div>
				<!-- Message row -->
				<div class="form__row">
					<div class="form__cell form__cell_left">
						<label for="message" class="form__label form__label_v-center">
							Сообщение:
						</label>
					</div>
					<div class="form__cell form__cell_right">
						<div class="field">
							<textarea id="message" class="textarea"></textarea>
						</div>
					</div>
				</div>
				<!-- Captcha row -->
				<div class="form__row">
					<div class="form__cell form__cell_left">
						<label for="captcha" class="form__label form__label_v-center">
							Защитный код
						</label>
					</div>
					<div class="form__cell form__cell_right">
						<div class="field">
							<!-- Captcha -->
							<div class="captcha">
								<img src="img/captcha.jpg" alt="" class="captcha__img">
								<input type="text" id="captcha" class="input input_border">
							</div>
						</div>
					</div>
				</div>
				<!-- Button row -->
				<div class="form__row">
					<div class="form__cell form__cell_right">
						<input type="submit" value="Отправить" class="btn btn_blue">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
