<!-- Header -->
<header class="site-header">
	<!-- Auth -->
	<div class="auth">
		<div class="container">
			<!-- Login -->
			<div class="login">
				<ul class="login__list">
					<li class="login__item">
						<a href="#" class="login__link login__link_symlink">
							<i class="icon icon-enter"></i>
							<span class="login__text">
								Войти
							</span>
						</a>
					</li>
					<li class="login__item">
						{{#registration}}
						<a href="vasa_04registration.html" class="login__link active">
							<span class="login__text">
								Регистрация
							</span>
						</a>
						{{else}}
						<a href="vasa_04registration.html" class="login__link">
							<span class="login__text">
								Регистрация
							</span>
						</a>
						{{/registration}}
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Main menu -->
	<div class="main-menu">
		<div class="container">
			<!-- Logo -->
			<h1 class="logo">
				<a href="vasa_01index_00.html" class="logo__link">
					<img src="img/logo.png" alt="Logo" class="logo__img">
				</a>
			</h1>
			<!-- Navigation -->
			<nav class="main-menu__list">
				<!-- VIP -->
				<a href="#" class="vip">
					<i class="icon icon-crown"></i>
					<span class="vip__text">
						VIP-Клиенты
					</span>
				</a>
				<li class="main-menu__item">
					<a href="#" class="main-menu__link active">
						<span class="main-menu__text">
							Новостройки
						</span>
						<span class="main-menu__count">
							643
						</span>
					</a>
				</li>
				<li class="main-menu__item">
					<a href="#" class="main-menu__link">
						<span class="main-menu__text">
							Куплю
						</span>
						<span class="main-menu__count">
							11 546
						</span>
					</a>
				</li>
				<li class="main-menu__item">
					<a href="#" class="main-menu__link">
						<span class="main-menu__text">
							Продам
						</span>
						<span class="main-menu__count">
							11 546
						</span>
					</a>
				</li>
				<li class="main-menu__item">
					<a href="#" class="main-menu__link">
						<span class="main-menu__text">
							Сниму
						</span>
						<span class="main-menu__count">
							25 612
						</span>
					</a>
				</li>
				<li class="main-menu__item">
					<a href="#" class="main-menu__link">
						<span class="main-menu__text">
							Сдам
						</span>
						<span class="main-menu__count">
							14 669
						</span>
					</a>
				</li>
			</nav>
		</div>
	</div>
</header>
