<!-- Horizontal-menu -->
<nav class="horizontal-menu">
	<ul class="horizontal-menu__list">
		<li class="horizontal-menu__item">
			<a href="#" class="horizontal-menu__link">
				О сайте
			</a>
		</li>
		<li class="horizontal-menu__item">
			<a href="#" class="horizontal-menu__link">
				Размещение рекламы
			</a>
		</li>
		<li class="horizontal-menu__item">
			<a href="#" class="horizontal-menu__link">
				Правила пользования
			</a>
		</li>
		<li class="horizontal-menu__item">
			<a href="#" class="horizontal-menu__link">
				Контактная информация
			</a>
		</li>
		<li class="horizontal-menu__item">
			<a href="#" class="horizontal-menu__link">
				Помощь
			</a>
		</li>
	</ul>
</nav>
