<!-- Partial: manage-subscribe -->
<div class="manage-subscribe">
	<div class="form form_manage-subscribe">
		<form action="#">
			<div class="container">
				<!-- Title -->
				<div class="form__row">
					<div class="form__cell form__cell_right">
						<a href="#" class="form__link">
							Назад
						</a>
						<h2 class="form__title">
							Управление подписками
						</h2>
					</div>
				</div>
				<!-- Info row -->
				<div class="form__row">
					<div class="form__cell form__cell_left"></div>
					<div class="form__cell form__cell_right">
						<div class="form__value">
							При переходе с одной активной подписки на другую <br>
							остаток средств между подписками не переводится
						</div>
					</div>
				</div>
				<!-- Type row -->
				<div class="form__row">
					<div class="form__cell form__cell_left">
						<div class="form__label">
							Я:
						</div>
					</div>
					<div class="form__cell form__cell_right">
						<div class="field field_wide">
							<label class="radio">
								<input type="radio" class="input" name="radio">
								<span class="radio__dot"></span>
								<span class="radio__label">
									Продавец (продам или сдам в аренду)
								</span>
							</label>
						</div>
						<div class="field field_wide">
							<label class="radio">
								<input type="radio" class="input" name="radio">
								<span class="radio__dot"></span>
								<span class="radio__label">
									Риэлтор (продам или сдам в аренду)
								</span>
							</label>
						</div>
					</div>
				</div>
				<!-- Term row -->
				<div class="form__row">
					<div class="form__cell form__cell_left">
						<label for="term" class="form__label form__label_v-center">
							Срок действия подписки:
						</label>
					</div>
					<div class="form__cell form__cell_right">
						<div class="field">
							<select class="js-select" name="estate" id="estate">
								<option value="1">1 месяц</option>
								<option value="2">2 месяца</option>
								<option value="3">3 месяца</option>
								<option value="4">1 год</option>
							</select>
						</div>
					</div>
				</div>
				<!-- Price row -->
				<div class="form__row">
					<div class="form__cell form__cell_left">
						<label for="object" class="form__label">
							Стоимость подписки:
						</label>
					</div>
					<div class="form__cell form__cell_right">
						<div class="form__value form__value_strong">
							<strong>1 000</strong> руб.
						</div>
					</div>
				</div>
				<!-- Expire row -->
				<div class="form__row">
					<div class="form__cell form__cell_left">
						<div class="form__label">
							Дата окончания подписки:
						</div>
					</div>
					<div class="form__cell form__cell_right">
						<div class="form__value form__value_date">
							1.07.2015
						</div>
					</div>
				</div>
				<!-- Payment type row -->
				<div class="form__row">
					<div class="form__cell form__cell_left">
						<div class="form__label">
							Способ оплаты:
						</div>
					</div>
					<div class="form__cell form__cell_right">
						<div class="field field_wide">
							<label class="radio">
								<input type="radio" class="input" name="radio">
								<span class="radio__dot"></span>
								<span class="radio__label">
									Оплата по банковской карте
								</span>
							</label>
						</div>
						<div class="field field_wide">
							<label class="radio">
								<input type="radio" class="input" name="radio">
								<span class="radio__dot"></span>
								<span class="radio__label">
									Оплата по квитанции
								</span>
							</label>
						</div>
					</div>
				</div>
				<!-- Button row -->
				<div class="form__row">
					<div class="form__cell form__cell_right">
						<input type="submit" value="Оплатить" class="btn btn_green">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
