<!-- New answer modal -->
<!-- Partial: new-answer-modal -->
<div class="modal modal_wide modal_shadow modal_new-offer">
	<header class="modal__header">
		<!-- Close btn -->
		<a href="#" class="modal__close">
			<i class="icon icon-close-white-big"></i>
		</a>
		<!-- Title -->
		<h2 class="modal__title">
			Ответ на предложение
		</h2>
	</header>
	<div class="modal__container modal__container_white">
		<div class="form form_offer-reply">
			<form action="#">
				<!-- Price row -->
				<div class="form__row">
					<div class="form__cell form__cell_left">
						<label for="price" class="form__label form__label_v-center">
							Цена:
						</label>
					</div>
					<div class="form__cell form__cell_right">
						<div class="field">
							<!-- Measure input -->
							<div class="measure-input">
								<input value="2 000 000" type="text" id="square" class="input input_border input_wide">
								<span class="measure-input__text">
									руб
								</span>
							</div>
						</div>
					</div>
				</div>
				<!-- Address row -->
				<div class="form__row">
					<div class="form__cell form__cell_left">
						<label for="addess" class="form__label form__label_v-center">
							Адрес:
						</label>
					</div>
					<div class="form__cell form__cell_right">
						<div class="field">
							<input type="text" class="input input_border input_wide" id="address">
						</div>
					</div>
				</div>
				<!-- Address row -->
				<div class="form__row">
					<div class="form__cell form__cell_left">
						<label for="location" class="form__label form__label_v-center">
							Местоположение:
						</label>
					</div>
					<div class="form__cell form__cell_right">
						<div class="field">
							<a href="vasa_18answer-popup_map_modal.html" class="form__symlink form__symlink_field">
								Указать на карте
							</a>
						</div>
					</div>
				</div>
				<!-- Description row -->
				<div class="form__row">
					<div class="form__cell form__cell_left">
						<label for="description" class="form__label form__label_v-center">
							Описание:
						</label>
					</div>
					<div class="form__cell form__cell_right">
						<div class="field">
							<textarea id="description" class="textarea"></textarea>
						</div>
					</div>
				</div>
				<!-- Hide messages -->
				<div class="form__row">
					<div class="form__cell form__cell_left">

					</div>
					<div class="form__cell form__cell_right">
						<div class="field">
							<label class="checkbox">
								<input type="checkbox">
								<span class="checkbox__check">
									<i class="icon icon-check"></i>
								</span>
								<span class="checkbox__label">
									Скрыть переписку
								</span>
							</label>
						</div>
					</div>
				</div>
				<!-- Button row -->
				<div class="form__row">
					<div class="form__cell form__cell_right">
						<input type="submit" value="Отправить" class="btn btn_green">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="overlay overlay_absolute"></div>
