<!-- New answer modal -->
<!-- Partial: new-answer-modal -->
<div class="modal modal_wide modal_shadow modal_new-offer">
	<header class="modal__header">
		<!-- Close btn -->
		<a href="#" class="modal__close">
			<i class="icon icon-close-white-big"></i>
		</a>
		<!-- Title -->
		<h2 class="modal__title">
			Укажите точку на карте
		</h2>
	</header>
	<div class="modal__container modal__container_white">
		<div class="map map_modal" id="setPointMap"></div>
	</div>
</div>
<div class="overlay overlay_absolute"></div>
