<!-- Partial: new-sub-modal -->
<div class="modal modal_wide modal_shadow modal_success">
	<header class="modal__header">
		<!-- Close btn -->
		<a href="#" class="modal__close">
			<i class="icon icon-close-white-big"></i>
		</a>
		<!-- Title -->
		<h2 class="modal__title">
			Заявка на предоставление доступа
		</h2>
	</header>
	<div class="modal__container modal__container_white">
		<!-- Success modal -->
		<div class="success-modal">
			<p class="success-modal__text">
				Демо-доступ дает возможность ознакомиться <br>
				с основным функционалом сайта в роли <br>
				строительной компании
			</p>
			<a href="#" class="btn btn_green">
				Отправить заявку
			</a>
		</div>
	</div>
</div>
<div class="overlay overlay_absolute"></div>
