<!-- Offers list -->
<!-- Partial: offers-list-for-modal -->
<div class="offers-list offers-list_narrow">
	<table class="offers-list__inner">
		<tbody>
			<tr>
				<td class="offers-list__name">
					<div class="offers-list__text">
						Куплю 2км. квартиру
					</div>
				</td>
				<td class="offers-list__status">
					<i class="icon icon-crown-red"></i>
					VIP
				</td>
				<td class="offers-list__price">
					8 500 000 руб.
				</td>
			</tr>
			<tr>
				<td class="offers-list__name">
					<div class="offers-list__text">
						Куплю 3км. квартиру
					</div>
				</td>
				<td class="offers-list__status">
					<i class="icon icon-crown-red"></i>
					VIP
				</td>
				<td class="offers-list__price">
					9 700 000 руб.
				</td>
			</tr>
			<tr>
				<td class="offers-list__name">
					<div class="offers-list__text">
						Куплю 2км. квартиру
					</div>
				</td>
				<td class="offers-list__status">
					<i class="icon icon-crown-red"></i>
					VIP
				</td>
				<td class="offers-list__price">
					11 200 000 руб.
				</td>
			</tr>
			<tr>
				<td class="offers-list__name">
					<div class="offers-list__text">
						Куплю 1км. квартиру
					</div>
				</td>
				<td class="offers-list__status">

				</td>
				<td class="offers-list__price">
					2 000 000 руб.
				</td>
			</tr>
			<tr>
				<td class="offers-list__name">
					<div class="offers-list__text">
						Куплю 1км. квартиру
					</div>
				</td>
				<td class="offers-list__status">

				</td>
				<td class="offers-list__price">
					2 000 000 руб.
				</td>
			</tr>
			<tr>
				<td class="offers-list__name">
					<div class="offers-list__text">
						Куплю 1км. квартиру
					</div>
				</td>
				<td class="offers-list__status">

				</td>
				<td class="offers-list__price">
					2 000 000 руб.
				</td>
			</tr>
			<tr>
				<td class="offers-list__name">
					<div class="offers-list__text">
						Куплю 1км. квартиру
					</div>
				</td>
				<td class="offers-list__status">

				</td>
				<td class="offers-list__price">
					2 000 000 руб.
				</td>
			</tr>
			<tr>
				<td class="offers-list__name">
					<div class="offers-list__text">
						Куплю 1км. квартиру
					</div>
				</td>
				<td class="offers-list__status">

				</td>
				<td class="offers-list__price">
					2 000 000 руб.
				</td>
			</tr>
			<tr>
				<td class="offers-list__name">
					<div class="offers-list__text">
						Куплю 1км. квартиру
					</div>
				</td>
				<td class="offers-list__status">

				</td>
				<td class="offers-list__price">
					2 000 000 руб.
				</td>
			</tr>
			<tr>
				<td class="offers-list__name">
					<div class="offers-list__text">
						Куплю 1км. квартиру
					</div>
				</td>
				<td class="offers-list__status">

				</td>
				<td class="offers-list__price">
					2 000 000 руб.
				</td>
			</tr>
		</tbody>
	</table>
</div>
