<!-- Pagination -->
<!-- Partial: pagination -->
<div class="pagination {{class}}">
	<ul class="pagination__list">
		<!-- Prev page -->
		<li class="pagination__item disabled">
			<a href="#" class="pagination__link">
				<i class="icon icon-shevron-left-small-black"></i>
			</a>
		</li>
		<li class="pagination__item">
			<a href="#" class="pagination__link">
				1
			</a>
		</li>
		<li class="pagination__item active">
			<a href="#" class="pagination__link">
				2
			</a>
		</li>
		<li class="pagination__item">
			<a href="#" class="pagination__link">
				3
			</a>
		</li>
		<li class="pagination__item">
			<a href="#" class="pagination__link">
				4
			</a>
		</li>
		<li class="pagination__item">
			<a href="#" class="pagination__link">
				5
			</a>
		</li>
		<!-- Next page -->
		<li class="pagination__item">
			<a href="#" class="pagination__link">
				<i class="icon icon-shevron-right-small-black"></i>
			</a>
		</li>
	</ul>
</div>
