<!-- Restore password modal -->
<!-- Partial: password-restore-modal -->
<div class="modal modal_restore-pass">
	<!-- Close btn -->
	<a href="#" class="modal__close">
		<i class="icon icon-close"></i>
	</a>
	<div class="modal__container modal__container_blue">
		<!-- Title -->
		<h2 class="modal__title">
			Восстановление пароля
		</h2>
		<!-- Errors -->
		<div class="modal__errors-container">
			<div class="form">
				<ul class="form__errors-list form__errors-list_lighter">
					<li class="form__errors-item">
						Нет такого пользователя
					</li>
				</ul>
			</div>
		</div>
		<p class="modal__text">
			На адрес вашей электронной почты, который вы указали при регистрации, бкдет отправлена инструкция для восстановления пароля
		</p>
		<!-- Form -->
		<div class="form">
			<form action="#">
				<div class="field field_wide error">
					<input type="email" class="input input_wide" placeholder="Электронная почта">
				</div>
				<button class="btn btn_yellow btn_wide">
					Отправить инструкцию
				</button>
			</form>
		</div>
	</div>
</div>
<div class="overlay"></div>
