<div class="success">
	<div class="container">
		<!-- Title -->
		<h2 class="success__title">
			<strong>Поздравляем</strong><br>
			с успешной регистрацией!
		</h2>
		<!-- Image -->
		<img src="img/vasa-success.png" alt="" class="success__img">
		<!-- Text -->
		<div class="success__container">
			<p class="success__text">
				На адрес Вашей электронной почты отправлено письмо<br>
				для подтверждения регистрации.
			</p>
			<p class="success__text">
				На сайте Вы можете <strong>бесплатно</strong> создать предложения на покупку.
			</p>
			<p class="success__text">
				Для получения доступа к другим сервисам сайта<br>
				(создавать предложения на продажу)<br>
				необходимо оформить подписку.
			</p>
		</div>
		<!-- Button -->
		<a href="#" class="btn btn_green">
			Оформить подписку
		</a>
		<!-- Link -->
		<div class="success__container">
			<a href="#" class="success__link">
				Продолжить без оформления подписки
			</a>
		</div>
	</div>
</div>
