<!-- Disqus modal -->
<!-- Partial: disqus-modal -->
<div class="modal modal_wide modal_shadow modal_notification">
	<header class="modal__header">
		<!-- Close btn -->
		<a href="#" class="modal__close">
			<i class="icon icon-close-white-big"></i>
		</a>
		<!-- Title -->
		<h2 class="modal__title">
			Информация
		</h2>
	</header>
	<div class="modal__container modal__container_white">
		<!-- Text -->
		<p class="modal__text">
			Пользователь, зарегистрированный как Строительная компания, получает возможность работы с разделом «Новостройки». После успешной регистрации пользователю предоставляются следующие возможности:
		</p>
		<!-- List -->
		<ul class="modal__list">
			<li class="modal__item">
				Создание заявки на добавление информации о своих строительных объектах. Все такие заявки отправляются на рассмотрение администрации сайта. В случае согласования строительная компания получает подтверждение на электронный адрес, и ее объекты успешно публикуются на карте раздела «Новостройки»;
			</li>
			<li class="modal__item">
				Создание предложений на продажу для покупателей как по своим строительным объектам, так и по объектам других строительных компаний, а также общение по ним с покупателями. При этом строительной организации предоставляется возможность в случае необходимости скрывать свою переписку с покупателем, если на то, есть причины.
			</li>
			<li class="modal__item">
				Для отслеживания поступления новых ответов по своим предложениям, системой отправляются уведомления на e-mail, указанный при регистрации.<br>
				Вся информация об объектах новостроек, созданная строительной компанией, публикуется в разделе «Новостройки», а также дополнительно фиксируется в Личном кабинете самой строительной компании. Все предложения покупателей, на которые отвечает строительная компания на сайте, также доступны в Личном кабинете.
			</li>
		</ul>
	</div>
</div>
<div class="overlay overlay_absolute"></div>
