<!-- User offers list -->
<!-- Partial: company-offers-list -->
<div class="offers-list offers-list_seller-kabinet">
	<!-- Controls -->
	<div class="offers-list__controls">
		<a href="#" class="offers-list__link">
			<i class="icon icon-question-circle-fill"></i>
			Помощь
		</a>
	</div>
	<div class="offers-list__container">
		<!-- Subheader -->
		<div class="offers-list__sub-header">
			<h3 class="offers-list__sub-header-title">
				Новостройки
			</h3>
		</div>
		<!-- Content -->
		<table class="offers-list__inner">
			<tbody>
				<tr class="js-clickable" data-url="vasa_15kabinet_user_buyitem.html">
					<td class="offers-list__name">
						<div class="offers-list__text">
							Куплю 3км. квартиру
						</div>
					</td>
					<td class="offers-list__price">
						2 000 000 руб.
					</td>
					<td class="offers-list__bargain">
						<a href="#" class="offers-list__bargain-btn">
							ТОРГ: 1 990 000 руб.
						</a>
					</td>
					<td class="offers-list__info">
						<!-- Counter -->
						<div class="offers-list__counter">
							+2
						</div>
						<!-- Messages counter -->
						<div class="offers-list__messages">
							<i class="icon icon-envelope"></i>
							<span class="offers-list__messages-counter">
								+3
							</span>
						</div>
					</td>
					<td class="offers-list__status">
						<i class="icon icon-crown-red"></i>
						<span class="offers-list__status-text">VIP</span>
					</td>
					<td class="offers-list__date">
						15.03.2015
					</td>
					<td class="offers-list__map">
						<a href="#" class="offers-list__link">
							<i class="icon icon-pin"></i>
							На карте
						</a>
					</td>
				</tr>
				<tr class="js-clickable" data-url="vasa_15kabinet_user_buyitem.html">
					<td class="offers-list__name">
						<div class="offers-list__text">
							Куплю 3км. квартиру не дорого
						</div>
					</td>
					<td class="offers-list__price">
						2 000 000 руб.
					</td>
					<td class="offers-list__bargain">
						<a href="#" class="offers-list__bargain-btn">
							ТОРГ: 1 990 000 руб.
						</a>
					</td>
					<td class="offers-list__info">
						<!-- Counter -->
						<div class="offers-list__counter">
							+2
						</div>
						<!-- Messages counter -->
						<div class="offers-list__messages">
							<i class="icon icon-envelope"></i>
							<span class="offers-list__messages-counter">
								+3
							</span>
						</div>
					</td>
					<td class="offers-list__status"></td>
					<td class="offers-list__date">
						15.03.2015
					</td>
					<td class="offers-list__map">
						<a href="#" class="offers-list__link">
							<i class="icon icon-pin"></i>
							На карте
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- Footer -->
		<footer class="offers-list__footer">
			<!-- More -->
			<a href="#" class="offers-list__symlink">
				Все предложения
			</a>
		</footer>
		<!-- Subheader -->
		<div class="offers-list__sub-header">
			<h3 class="offers-list__sub-header-title">
				Вторичная недвижимость
			</h3>
		</div>
		<!-- Content -->
		<table class="offers-list__inner">
			<tbody>
				<tr class="js-clickable" data-url="vasa_15kabinet_user_buyitem.html">
					<td class="offers-list__name">
						<div class="offers-list__text">
							Куплю 3км. квартиру
						</div>
					</td>
					<td class="offers-list__price">
						2 000 000 руб.
					</td>
					<td class="offers-list__bargain">
						<a href="#" class="offers-list__bargain-btn">
							ТОРГ: 1 990 000 руб.
						</a>
					</td>
					<td class="offers-list__info">
						<!-- Counter -->
						<div class="offers-list__counter">
							+2
						</div>
						<!-- Messages counter -->
						<div class="offers-list__messages">
							<i class="icon icon-envelope"></i>
							<span class="offers-list__messages-counter">
								+3
							</span>
						</div>
					</td>
					<td class="offers-list__status">
						<i class="icon icon-crown-red"></i>
						<span class="offers-list__status-text">VIP</span>
					</td>
					<td class="offers-list__date">
						15.03.2015
					</td>
					<td class="offers-list__map">
						<a href="#" class="offers-list__link">
							<i class="icon icon-pin"></i>
							На карте
						</a>
					</td>
				</tr>
				<tr class="js-clickable" data-url="vasa_15kabinet_user_buyitem.html">
					<td class="offers-list__name">
						<div class="offers-list__text">
							Куплю 3км. квартиру не дорого
						</div>
					</td>
					<td class="offers-list__price">
						2 000 000 руб.
					</td>
					<td class="offers-list__bargain">
						<a href="#" class="offers-list__bargain-btn">
							ТОРГ: 1 990 000 руб.
						</a>
					</td>
					<td class="offers-list__info"></td>
					<td class="offers-list__status"></td>
					<td class="offers-list__date">
						15.03.2015
					</td>
					<td class="offers-list__map">
						<a href="#" class="offers-list__link">
							<i class="icon icon-pin"></i>
							На карте
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- Footer -->
		<footer class="offers-list__footer">
			<!-- More -->
			<a href="#" class="offers-list__symlink">
				Все предложения
			</a>
		</footer>
		<!-- Subheader -->
		<div class="offers-list__sub-header">
			<h3 class="offers-list__sub-header-title">
				Аренда жилья
			</h3>
		</div>
		<!-- Content -->
		<table class="offers-list__inner">
			<tbody>
				<tr class="js-clickable" data-url="vasa_15kabinet_user_buyitem.html">
					<td class="offers-list__name">
						<div class="offers-list__text">
							Куплю 3км. квартиру
						</div>
					</td>
					<td class="offers-list__price">
						2 000 000 руб.
					</td>
					<td class="offers-list__bargain">
						<a href="#" class="offers-list__bargain-btn">
							ТОРГ: 1 990 000 руб.
						</a>
					</td>
					<td class="offers-list__info">
						<!-- Counter -->
						<div class="offers-list__counter">
							+2
						</div>
						<!-- Messages counter -->
						<div class="offers-list__messages">
							<i class="icon icon-envelope"></i>
							<span class="offers-list__messages-counter">
								+3
							</span>
						</div>
					</td>
					<td class="offers-list__status">
						<i class="icon icon-crown-red"></i>
						<span class="offers-list__status-text">VIP</span>
					</td>
					<td class="offers-list__date">
						15.03.2015
					</td>
					<td class="offers-list__map">
						<a href="#" class="offers-list__link">
							<i class="icon icon-pin"></i>
							На карте
						</a>
					</td>
				</tr>
				<tr class="js-clickable" data-url="vasa_15kabinet_user_buyitem.html">
					<td class="offers-list__name">
						<div class="offers-list__text">
							Куплю 3км. квартиру не дорого
						</div>
					</td>
					<td class="offers-list__price">
						2 000 000 руб.
					</td>
					<td class="offers-list__bargain">
						<a href="#" class="offers-list__bargain-btn">
							ТОРГ: 1 990 000 руб.
						</a>
					</td>
					<td class="offers-list__info">
						<!-- Counter -->
						<div class="offers-list__counter">
							+2
						</div>
						<!-- Messages counter -->
						<div class="offers-list__messages">
							<i class="icon icon-envelope"></i>
							<span class="offers-list__messages-counter">
								+3
							</span>
						</div>
					</td>
					<td class="offers-list__status"></td>
					<td class="offers-list__date">
						15.03.2015
					</td>
					<td class="offers-list__map">
						<a href="#" class="offers-list__link">
							<i class="icon icon-pin"></i>
							На карте
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- Footer -->
		<footer class="offers-list__footer">
			<!-- More -->
			<a href="#" class="offers-list__symlink">
				Все предложения
			</a>
		</footer>
	</div>
</div>
