<!-- Offers -->
<!-- Partial: sell-offers -->
<div class="offers">
	<!-- Header -->
	<header class="offers__header">
		<h2 class="offers__title">
			Промышленный район: 2 комнатные
		</h2>
	</header>
	<!-- Content -->
	<div class="offers__container">
		<div class="offers__column">
			{{>offers-list}}
		</div>
		<div class="offers__column">
			<img src="img/banner.jpg" width="240" height="400" alt="banner" class="banner">
		</div>
	</div>
	{{>pagination class="pagination_no-margin-bottom"}}
	<!-- Header -->
	<header class="offers__header">
		<h2 class="offers__title">
			Все VIP предложения по 2 км. квартирам в этом городе
		</h2>
	</header>
	{{>offers-list class="offers-list_equal offers-list_center"}}
	{{>pagination}}
</div>
