<!-- Building info -->
<!-- Partial: sell-building-info -->
<div class="building">
	<h2 class="building__title">
		Информация об объекте ЖК «Элит»
	</h2>
	<div class="building__container">
		<div class="building__column">
			<table class="building__info">
				<tbody>
					<tr>
						<td class="building__info-key">
							Цена:
						</td>
						<td class="building__info-value">
							<strong>
								от 2 000 000 руб. до 10 000 000 руб.
							</strong>
						</td>
					</tr>
					<tr>
						<td class="building__info-key">
							Описание:
						</td>
						<td class="building__info-value">
							Новый жилой комплекс «Элит» (застройщик «Тekta Group») находится в экологически чистом районе. ЖК представляет собой трехсекционный монолитно-кирпичный жилой дом высотой 9 этажей. Территория комплекса огорожена, во дворе есть автостоянка и детская площадка.
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="building__column">
			<div class="map" id="buildingMap1"></div>
		</div>
	</div>
</div>
