<!-- Social -->
<div class="social">
	<ul class="social__list">
		<li class="social__item">
			<a href="#" class="social__link">
				<i class="icon icon-vk"></i>
			</a>
		</li>
		<li class="social__item">
			<a href="#" class="social__link">
				<i class="icon icon-fb"></i>
			</a>
		</li>
		<li class="social__item">
			<a href="#" class="social__link">
				<i class="icon icon-ok"></i>
			</a>
		</li>
		<li class="social__item">
			<a href="#" class="social__link">
				<i class="icon icon-tw"></i>
			</a>
		</li>
	</ul>
</div>
