<!-- Partial: subscribes-demo-off -->
<div class="manage-subscribe">
	<!-- Menu -->
	<nav class="manage-subscribe__menu">
		<ul class="manage-subscribe__menu-list">
			<li class="manage-subscribe__menu-item">
				<a href="#" class="manage-subscribe__menu-link">
					Управление подписками
				</a>
			</li>
			<li class="manage-subscribe__menu-item">
				<a href="#" class="manage-subscribe__menu-link">
					Заявка на демо-доступ
				</a>
				<p class="manage-subscribe__menu-description">
					Для строительных компаний
				</p>
			</li>
		</ul>
	</nav>
	<!-- Empty -->
	<div class="manage-subscribe__empty">
		Нет активных подписок
	</div>
</div>
