<!-- Success access modal -->
<!-- Partial: success-access-modal -->
<div class="modal modal_wide modal_shadow modal_success">
	<header class="modal__header">
		<!-- Close btn -->
		<a href="#" class="modal__close">
			<i class="icon icon-close-white-big"></i>
		</a>
		<!-- Title -->
		<h2 class="modal__title">
			Уведомление
		</h2>
	</header>
	<div class="modal__container modal__container_white">
		<!-- Success modal -->
		<div class="success-modal">
			<img src="img/success-circle.png" alt="" class="success-modal__img">
			<p class="success-modal__text">
				Ваша заявка на добавление строительного объекта отправлена на рассмотрение администрации сайта
			</p>
			<a href="#" class="btn btn_green">
				Закрыть
			</a>
		</div>
	</div>
</div>
<div class="overlay overlay_absolute"></div>
