<!-- Partial: unregistered-vip -->
<article class="article article_unregistered">
	<div class="article__container">
		<i class="icon icon-crown-circle-bg"></i>
		<h2 class="article__title">
			Кто такой VIP&ndash;клиент?
		</h2>
		<p class="article__text">
			ВИП-клиенты — покупатели, подтвердившие свою платежеспособность, путем предоставления сайту информации от банка о наличии у них на счету денежных средств. Эта строго конфиденциальная информация не будет предоставляться другим пользователям сайта. Сайт лишь будет подтверждать по запросу зарегистрированных пользователей о наличие у такого клиента денежных средств. Очевидно, что такие клиенты, подтвердившие свою платежеспособность, смогут рассчитывать на особое внимание к себе со стороны продавцов и на максимальный размер скидок.
		</p>
		<p class="article__text">
			Размещение информации от таких покупателей на сайте происходит в особом режиме. Такие клиенты всегда будут размещаться наверху любого списка предложений покупателей по выбранному объекту недвижимости. Кроме того их предложения на покупку будут всегда предлагаться продавцам аналогичной категории недвижимости во всем городе, а не только в выбранном покупателем районе. Поэтому покупатель получит сгруппированные предложения от продавцов не только по тому объекту недвижимости или району, который его интересует, но и сгруппированные отдельно предложения с других объектов недвижимости, или с других районов города. Возможно среди них он найдет даже более интересные, по отношению к своему первоначальному варианту, предложения.
		</p>
		<!-- Button -->
		<a href="vasa_16vip_registration.html" class="btn btn_blue">
			Зарегистрироваться
		</a>
	</div>
</article>
