<div class="container">
	<!-- User tabs -->
	<div class="tabs js-tabs">
		<ul class="tabs__list">
			<li class="tabs__item js-tab active">
				<div class="tabs__title">
					Покупка/аренда
				</div>
				<div class="tabs__content">
					trololo 1
				</div>
			</li>
			<li class="tabs__item js-tab">
				<div class="tabs__title">
					Настройки
				</div>
				<div class="tabs__content">
					trololo 2
				</div>
			</li>
			<li class="tabs__item js-tab">
				<div class="tabs__title">
					Подписки
				</div>
				<div class="tabs__content">
					trololo 3
				</div>
			</li>
		</ul>
	</div>
</div>
