<!-- Partial: user-options -->
<div class="user-options">
	<div class="form form_user-options">
		<form action="#">
			<!-- User ID row -->
			<div class="form__row">
				<div class="form__cell form__cell_left">
					<label for="object" class="form__label">
						Ваш ID:
					</label>
				</div>
				<div class="form__cell form__cell_right">
					<div class="form__value">
						156340
					</div>
				</div>
			</div>
			<!-- Email row -->
			<div class="form__row">
				<div class="form__cell form__cell_left">
					<label for="address" class="form__label">
						Электронная почта:
					</label>
				</div>
				<div class="form__cell form__cell_right">
					<div class="form__value">
						tekta@email.ru
					</div>
				</div>
			</div>
			<!-- Phone row -->
			<div class="form__row form__row_margin-bottom">
				<div class="form__cell form__cell_left">
					<label for="estate" class="form__label form__label_v-center">
						Телефон:
					</label>
				</div>
				<div class="form__cell form__cell_right">
					<div class="field">
						<input type="tel" class="input input_border input_wide">
					</div>
				</div>
			</div>
			<!-- New pass row -->
			<div class="form__row">
				<div class="form__cell form__cell_left">
					<label for="price" class="form__label form__label_v-center">
						Новый пароль:
					</label>
				</div>
				<div class="form__cell form__cell_right">
					<div class="field">
						<div class="field">
							<input type="password" class="input input_border input_wide">
						</div>
					</div>
				</div>
			</div>
			<!-- Confirm pass row -->
			<div class="form__row">
				<div class="form__cell form__cell_left">
					<label for="price" class="form__label form__label_v-center">
						Подтверждение пароля:
					</label>
				</div>
				<div class="form__cell form__cell_right">
					<div class="field">
						<div class="field">
							<input type="password" class="input input_border input_wide">
						</div>
					</div>
				</div>
			</div>
			<!-- Button row -->
			<div class="form__row form__row_margin-bottom form__row_margin-top">
				<div class="form__cell form__cell_right">
					<input type="submit" value="Сохранить" class="btn btn_blue">
				</div>
			</div>
			<!-- Footer -->
			<footer class="form__footer">
				<div class="form__row">
					<div class="form__cell form__cell_left">
						<label for="price" class="form__label form__label_small">
							Получить больше <br>
							<a href="#" class="form__link">возможностей</a>
						</label>
					</div>
					<div class="form__cell form__cell_right">
						<a href="#" class="btn btn_green">
							Стать VIP&ndash;клиентом
						</a>
					</div>
				</div>
			</footer>
		</form>
	</div>
</div>
