<!-- Partial: user-tabs -->
<div class="container">
	<!-- User tabs -->
	<div class="tabs tabs_no-margin-top js-tabs">
		<ul class="tabs__list">
			<li class="tabs__item js-tab active">
				<a href="#tab1" class="tabs__title">
					Покупка&nbsp;/&nbsp;аренда
				</a>
			</li>
			<li class="tabs__item js-tab">
				<a href="#tab2" class="tabs__title">
					Настройки
				</a>
			</li>
			<li class="tabs__item js-tab">
				<a href="#tab3" class="tabs__title">
					Подписки
				</a>
			</li>
		</ul>
		<!-- Content -->
		<div class="tabs__content active" data-tab="tab1">
			<div class="tabs__frame">
				{{>user-offers-list}}
			</div>
		</div>
		<div class="tabs__content" data-tab="tab2">
			<div class="tabs__frame">
				{{>user-options}}
			</div>
		</div>
		<div class="tabs__content" data-tab="tab3">
			<div class="tabs__frame">
				Контент подписок
			</div>
		</div>
	</div>
</div>
