<div class="container">
	<!-- User tabs -->
	<div class="tabs js-tabs">
		<ul class="tabs__list">
			<li class="tabs__item js-tab active">
				<a href="#tab1" class="tabs__title">
					Покупка&nbsp;/&nbsp;аренда
				</a>
			</li>
			<li class="tabs__item js-tab">
				<a href="#tab2" class="tabs__title">
					Настройки
				</a>
			</li>
			<li class="tabs__item js-tab">
				<a href="#tab3" class="tabs__title">
					Подписки
				</a>
			</li>
			<!-- Content -->
			<div class="tabs__content active" data-tab="tab1">
				{{>building-info-user-kabinet}}
			</div>
			<div class="tabs__content" data-tab="tab2">
				trololo 2
			</div>
			<div class="tabs__content" data-tab="tab3">
				trololo 3
			</div>
		</ul>
	</div>
</div>
