<!-- Partial: vip-registration -->
<div class="registration">
	<div class="form form_seller-registration">
		<form action="vasa_16vip_descr_reg.html">
			<div class="container">
				<!-- Title -->
				<div class="form__row">
					<div class="form__cell form__cell_right">
						<h2 class="form__title">
							Оформление VIP клиента
						</h2>
					</div>
				</div>
				<!-- Info row -->
				<div class="form__row">
					<div class="form__cell form__cell_left"></div>
					<div class="form__cell form__cell_right">
						<div class="form__value">
							Сведения строго конфиденциальны и надежно защищены. <br>
							Личные данные в выписке можно скрыть
						</div>
					</div>
				</div>
				<!-- Bank bill row -->
				<div class="form__row">
					<div class="form__cell form__cell_left">
						<label for="bill" class="form__label form__label_v-center">
							Выписка из банка:
						</label>
					</div>
					<div class="form__cell form__cell_right">
						<div class="field">
							<a href="#" class="form__symlink form__symlink_field">
								Загрузить
							</a>
						</div>
					</div>
				</div>
				<!-- Price row -->
				<div class="form__row">
					<div class="form__cell form__cell_left">
						<label for="captcha" class="form__label form__label_v-center">
							Сумма покупки
						</label>
					</div>
					<div class="form__cell form__cell_right">
						<div class="field">
							<!-- Measure input -->
							<div class="measure-input">
								<input type="text" id="square" class="input input_border input_wide" value="2 000 000">
								<span class="measure-input__text">
									руб.
								</span>
							</div>
							<p class="field__description">
								Сумма на покупку не должна превышать сумму, указанныую в банковской справке
							</p>
						</div>
					</div>
				</div>
				<!-- Button row -->
				<div class="form__row">
					<div class="form__cell form__cell_right">
						<input type="submit" value="Отправить" class="btn btn_green">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
