<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_15kabinet_user"}}
<body>
	<div class="wrapper">
		{{>header}}
		<main class="main-content">
			{{>user-tabs}}
		</main>
	</div>
	{{>footer}}
</body>
</html>
