<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_08novostroiki_saved_user_disqus"}}
<body>
	<div class="wrapper">
		{{>header new-buildings="active" authorized="true"}}
		{{>breadcrumbs}}
		<main class="main-content">
			{{>building-info-no-img}}
			{{>answers}}
		</main>
	</div>
	{{>footer}}
</body>
</html>
