<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_15kabinet_seller"}}
<body>
	<div class="wrapper">
		{{>header authorized="true"}}
		<main class="main-content">
			{{>seller-tabs}}
		</main>
	</div>
	{{>footer}}
</body>
</html>
