<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_15kabinet_company_demo_off"}}
<body>
	<div class="wrapper">
		{{>header authorized="true"}}
		<main class="main-content">
			{{>company-demo-off-tabs}}
		</main>
	</div>
	{{>footer}}
</body>
</html>
