<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_11novostroiki_list_of_proposals_empty"}}
<body>
	<div class="wrapper">
		{{>header new-buildings="active" authorized="true"}}
		{{>breadcrumbs}}
		<main class="main-content">
			{{>new-buildings-proposals-empty}}
		</main>
	</div>
	{{>footer}}
</body>
</html>
