<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_12buy_offerpopup"}}
<body>
	<div class="wrapper">
		{{>header buy="active"}}
		<main class="main-content">
			{{>new-buildings-map}}
			{{>buy-new-offer-modal}}
		</main>
	</div>
	{{>footer}}
</body>
</html>
