<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_02auth_captcha"}}
<body>
	<div class="wrapper">
		{{>header}}
		<main class="main-content">
			{{>features}}
			{{>how-to}}
		</main>
	</div>
	{{>auth-captcha-modal}}
	{{>footer}}
</body>
</html>
