<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_12buy_info"}}
<body>
	<div class="wrapper">
		{{>header sell="active"}}
		<main class="main-content">
			{{>clusters-map}}
			{{>clusters-map-info}}
		</main>
	</div>
	{{>footer}}
</body>
</html>
