<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_11novostroiki_list_of_proposals"}}
<body>
	<div class="wrapper">
		{{>header new-buildings="active" authorized="true"}}
		<main class="main-content">
			{{>new-buildings-proposals}}
		</main>
	</div>
	{{>footer}}
</body>
</html>
