<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_13sell_information"}}
<body>
	<div class="wrapper">
		{{>header sell="active"}}
		<main class="main-content">
			{{>new-buildings-map}}
			{{>sell-building-modal}}
		</main>
	</div>
	{{>footer}}
</body>
</html>
