<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_11novostroiki_list_of_proposals"}}
<body>
	<div class="wrapper">
		{{>header}}
		<main class="main-content">
			{{>new-buildings-map}}
		</main>
	</div>
	{{>footer}}
</body>
</html>
