<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_05novostroiki_map"}}
<body>
	<div class="wrapper">
		{{>header new-buildings="active"}}
		<main class="main-content">
			{{>new-buildings-map}}
		</main>
	</div>
	{{>footer}}
</body>
</html>
