<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_19page404"}}
<body>
	<div class="wrapper">
		{{>header}}
		<main class="main-content">
			<!-- Error page -->
			<div class="error-page">
				<div class="error-page__code">
					404
				</div>
				<h2 class="error-page__title">
					Страница не найдена
				</h2>
				<p class="error-page__text">
					Воспользуйтесь навигацией <br>
					или начните с <a href="#" class="error-page__link">главной страницы</a>
				</p>
			</div>
		</main>
	</div>
	{{>footer}}
</body>
</html>
