<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_03password_restore"}}
<body>
	{{>header}}
	<main class="main-content">
		{{>features}}
		{{>how-to}}
	</main>
	{{>password-restore-modal}}
	{{>footer}}
</body>
</html>
