<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_16vip_descr_reg"}}
<body>
	<div class="wrapper">
		{{>header authorized="true"}}
		<main class="main-content">
			{{>registered-vip}}
		</main>
	</div>
	{{>footer}}
</body>
</html>
