<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_11novostroiki_newobject_uploaded_img"}}
<body>
	<div class="wrapper">
		{{>header new-buildings="active" authorized="true"}}
		{{>breadcrumbs}}
		<main class="main-content">
			{{>add-new-object-uploaded}}
		</main>
	</div>
	{{>footer}}
</body>
</html>
