<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_16vip_registration"}}
<body>
	<div class="wrapper">
		{{>header registration="true"}}
		<main class="main-content">
			{{>vip-registration}}
		</main>
	</div>
	{{>footer}}
</body>
</html>
