<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_20sell_rayon"}}
<body>
	<div class="wrapper">
		{{>header sell="active" authorized="true"}}
		{{>breadcrumbs}}
		<main class="main-content">
			{{!-- {{>new-buildings-proposals}} --}}
			{{>sell-region-proposals}}
		</main>
	</div>
	{{>footer}}
</body>
</html>
