<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_15kabinet_newsub"}}
<body>
	<div class="wrapper">
		{{>header authorized="true"}}
		<main class="main-content">
			{{>user-tabs}}
			{{!-- {{>success-access-modal}} --}}
			{{>new-sub-modal}}
		</main>
	</div>
	{{>footer}}
</body>
</html>
