<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_01index_00_modal_slider"}}
<body>
	<div class="wrapper">
		{{>header}}
		<main class="main-content">
			{{>features}}
			{{>how-to}}
			{{>features-modal}}
		</main>
	</div>
	{{>footer}}
</body>
</html>
