<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_16vip_descr_unreg"}}
<body>
	<div class="wrapper">
		{{>header}}
		<main class="main-content">
			<div class="container">
				{{>unregistered-vip}}
			</div>
		</main>
	</div>
	{{>footer}}
</body>
</html>
