<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>vas-A. Благодарим за регистрацию</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#DBDEE5">
		<!-- Header -->
		<tr>
			<td style="padding: 75px 0 0 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
					<tbody>
						<tr>
							<td align="center" bgcolor="#434DB4" style="padding: 34px 0 37px 40px;">
								<table align="left" cellpadding="0" cellspacing="0" width="160">
									<tr>
										<td>
											<a href="#" target="_blank">
												<img src="img/logo.png" alt="Vas-A logo" border="0" style="vertical-align:top;color:#fff" width="144" height="28">
											</a>
										</td>
									</tr>
								</table>
							</td>
							<td align="center" bgcolor="#434DB4" style="padding: 10px 0 11px 30px;">
								<table align="left" cellpadding="0" cellspacing="0" width="370">
									<tr>
										<td style="color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 24px;">
											Благодарим за регистрацию
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<!-- Content -->
		<tr>
			<td>
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" bgcolor="#ffffff">
					<tbody>
						<tr>
							<td style="padding: 40px 40px 0 40px">
								<div style="display: inline; color: #9B9B9B; font-family: Arial, Helvetica, sans-serif; font-size: 15px; padding: 0 20px 0 0">
									Электронная почта:
								</div>
								<div style="display: inline; color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 17px; font-weight: bold;">
									example@gmail.com
								</div>
							</td>
						</tr>
						<tr>
							<td style="padding: 27px 40px 40px 40px">
								<div style="display: inline; color: #202020; font-family: Arial, Helvetica, sans-serif; font-size: 16px;">
									Вы можете изменить свои данные в <a style="color: #256CA8; font-family: Arial, Helvetica, sans-serif; font-size: 16px;" href="#">личном кабинете</a>
								</div>
							</td>
						</tr>
						<tr>
							<td style="padding: 34px 40px 40px 40px">
								<i style="display: inline; color: #A0A0A0; font-family: Arial, Helvetica, sans-serif; font-size: 14px;">
									С уважением,<br>
									Администрация сайта vad_a.ru
								</i>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<!-- Footer -->
		<tr>
			<td>
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
					<tbody>
						<tr>
							<td style="padding: 22px 40px 128px 40px; text-align: center">
								<a style="color: #949EAD; font-family: Arial, Helvetica, sans-serif; font-size: 11px;" href="#">
									Отписаться от рассылки
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>

