<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_08novostroiki_see-offer (1)"}}
<body>
	<div class="wrapper">
		{{>header new-buildings="active" authorized="true"}}
		{{>breadcrumbs}}
		<main class="main-content">
			{{>building-info-no-img title="Куплю 2км. квартиру на сумму 2 300 000 руб."}}
			{{>answers}}
		</main>
	</div>
	{{>footer}}
</body>
</html>
