<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_11novostroiki_newobject"}}
<body>
	<div class="wrapper">
		{{>header new-buildings="active" authorized="true"}}
		{{>breadcrumbs}}
		<main class="main-content">
			{{>add-new-object}}
		</main>
	</div>
	{{>footer}}
</body>
</html>
