<!DOCTYPE html>
<html lang="ru">
{{>head title="VaSa - vasa_04changepass"}}
<body>
	<div class="wrapper">
		{{>header}}
		<main class="main-content">
			{{>change-pass}}
		</main>
	</div>
	{{>footer}}
</body>
</html>
